@import "compass/layout";
@import "compass/css3";

.categories{
  .select > .input{
    display: inline-block;
    width: 100%;
  }
  .column{
    float: left;
    width: 220px;
    margin-right: 20px;
    &.column-third{
      margin-right: 0;
    }
  }
}

#relic_categories_input{
  .choices{
    margin: 10px 0;
    input{
      display: inline-block;
      width: auto;
      height: auto;
      margin: 5px 0;
    }
    label{
      font-weight: normal;
      font-size: 13px;
    }
  }
}