@import "compass/layout";
@import "compass/css3";

.entries{
  textarea.redactor{
    height: 85px;
    width: 100%;
    margin-top: 10px;
  }
  .redactor_box{
    margin-top: 10px;
  }
  .entries-showcase{
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    column-count: 2;
    column-gap: 15px;
    column-fill: auto;
    input[type="text"], textarea {
      width: 278px !important;
    }
  }

  .entry{
    @include box-shadow(0 1px 3px 0 rgba(0,0,0,0.3));
    padding: 15px 20px;
    -moz-column-break-inside: avoid; 
    -webkit-column-break-inside: avoid; 
    column-break-inside: avoid; 
    display: inline-block; 
    margin: 0 2px 15px;
    width: 300px;
    h3{
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    p{
      line-height: 20px;
      font-size: 14px;
      font-family: Georgia, serif;
    }
    a.update {
      padding-left: 20px;
      line-height: 18px;
      background: asset-data-url("entry-ico-update.png") 0 3px no-repeat;
      color: #e67e03;
      font-size: 12px;
      display: block;
      margin-top: 10px;
    }
  }
}