@import "compass/layout";
@import "compass/css3";

.edit_relic section.events{
  p.header{
    font-size: 11px;
    text-transform: uppercase;
    background: asset-data-url("links-header-bg.png") bottom left repeat-x;
    border-bottom: 1px solid #b2b2b2;
    display: inline-block;
    width: 100%;
    span{
      padding: 10px 10px 10px 0;
      float: left;
    }
  }
  .number{
    width: 49px;
  }
  .date{
    width: 155px;
  }
  .info{
    width: 395px;
  }
  .action{
    width: 55px;
  }
  ol.first{
    li{
      list-style-type: decimal;
      font-weight: 700;
      font-size: 13px;
      height: 25px;
      overflow: hidden;
      padding: 10px 0 10px 10px;
      border-bottom: 1px solid #b2b2b2;
      list-style-position: inside;
      position: relative;
      line-height: 25px;
      > div{
        position: absolute;
        top: 10px;
        &.string{
          margin-left: 50px;
        }
        &.name{
          left: 225px;
        }
        div input{
          margin: 0;
          height: 22px;
          font-size: 13px;
          font-weight: normal;
          width: 135px;
        }
      }
    }
  }
  .sortable, .nonsortable {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    .event{
      list-style-type: decimal;
      font-weight: 700;
      font-size: 13px;
      padding: 10px 0 10px 10px;
      border-bottom: 1px solid #b2b2b2;
      border-top: 1px solid #b2b2b2;
      margin-top: -1px;
      list-style-position: inside;
      position: relative;
      line-height: 25px;
      background-color: white;
      float: left;
      width: 100%;
      .arrow{
        position: absolute;
        width: 8px;
        height: 14px;
        background: asset-data-url("edit-relic-ico-arrows.png") no-repeat;
        top: 15px;
        left: 0;
      }
      &:first-child .arrow{
        background: asset-data-url("edit-relic-ico-arrow-down.png") no-repeat;
        top: 21px;
      }
      &:last-child .arrow{
        background: asset-data-url("edit-relic-ico-arrow-up.png") no-repeat !important;
        top: 21px;
      }
      > div{
        position: absolute;
        top: 10px;
        left: 225px;
        &:first-child{
          left: 60px;
          .input input{
            width: 135px;
          }
        }
        &.error:first-child{
          position: relative;
          float: right;
          top: 0px;
          left: -497px;
          width: 160px;
          .input{
            float: left;
            .help-inline{
              margin-bottom: 0;
            }
          }
        }
        .input input{
          margin: 0;
          height: 22px;
          font-size: 13px;
          font-weight: normal;
        }
        &.date{
          margin-left: 30px;
        }
      }
      .date{
        .input input{
          width: 135px;
        }
      }
      .string{
        .input input{
          width: 300px;
        }
      }
      .add_photo {
        padding-left: 20px;
        color: #090;
        font-size: 12px;
        line-height: 25px;
        font-weight: normal;
        float: right;
        margin-right: 25px;
        position: absolute;
        top: 10px;
        right: 55px;
      }

      .edit_photo {
        padding-left: 20px;
        color: #47697b;
        font-size: 12px;
        line-height: 25px;
        font-weight: normal;
        float: right;
        margin-right: 25px;
        position: absolute;
        top: 0px;
        left: 563px;
      }

      .remove_photo {
        padding-left: 20px;
        color: #d00;
        font-size: 12px;
        line-height: 25px;
        font-weight: normal;
        float: right;
        margin-right: 25px;
        position: absolute;
        top: 16px;
        left: 563px;
      }

      .event_photo {
        position: absolute;
        top: 10px;
        right: 139px;
        width: 23px;
      }

      .remove_event{
        background: asset-data-url("icon-delete.png") 2px 4px no-repeat;
        padding-left: 20px;
        color: #d00;
        font-size: 12px;
        line-height: 25px;
        font-weight: normal;
        float: right;
        margin-right: 25px;
        position: absolute;
        top: 10px;
        right: 0;
      }
    }
  }
  .add-event a{
    color: #36a007;
    font-weight: 700;
    font-size: 13px;
    background: asset-data-url("icon-add.png") no-repeat;
    padding-left: 20px;
    margin-bottom: 30px;
    display: block;
  }
}