@import "compass/layout";
@import "compass/css3";

.edit_relic{
  background: asset-data-url("profile-edit-bg.png") repeat-y;
  display: inline-block;
  h1, h2{
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    height: 45px;
    line-height: 45px;
  }
  h1{
    @include background(linear-gradient(#36596b, #2f5163));
    padding: 0 12px;
  }
  h2{
    @include background(linear-gradient(#4b6d7e, #436576));
    padding: 0 20px;
  }
  nav{
    width: 213px;
    ul{
      li{ 
        span{
          background: #fff asset-data-url("profile-edit-nav-icons.png") no-repeat;
          font-size: 13px;
          padding: 0 10px 0 34px;
          color: #343434;
          height: 34px;
          line-height: 34px;
          border-bottom: 1px solid #c3c3c3;
          display: block;
        }
        a{
          padding: 0 10px 0 34px;
          display: block;
          border-bottom: 1px solid #c3c3c3;
          color: #47697b;
          text-shadow: 0 1px 1px #fff;
          background: asset-data-url("profile-edit-nav-icons.png") no-repeat;
          span{
            padding: 0;
            background: none;
            border: 0;
            color: #47697b;
          }
        }
        &.general{
          span{
            background-position: 9px -293px;
          }
          a{
            background-position: 9px 10px;
          }  
        }
        &.location{
          span{
            background-position: 9px -327px;
          }
          a{
            background-position: 9px -24px;
          }  
        }
        &.events{
          span{
            background-position: 9px -363px;
          }
          a{
            background-position: 9px -59px;
          }  
        }
        &.entries{
          span{
            background-position: 9px -466px;
          }
          a{
            background-position: 9px -161px;
          }  
        }
        &.links{
          span{
            background-position: 9px -499px;
          }
          a{
            background-position: 9px -195px;
          }  
        }
        &.documents{
          span{
            background-position: 9px -532px;
          }
          a{
            background-position: 9px -229px;
          }  
        }
        &.description{
          span{
            background-position: 9px -394px;
          }
          a{
            background-position: 9px -92px;
          }  
        }
        &.photos{
          span{
            background-position: 9px -565px;
          }
          a{
            background-position: 9px -262px;
          }  
        }
      }
    }
  }
  section.edit{
    width: 741px;
  }
}