@import "compass/layout";
@import "compass/css3";

.photos{
  form{
    .photo{
      border-bottom: 1px solid #bfbfbf;
      padding-bottom: 20px;
      .column-left{
        .preview{
          @include box-shadow(0 1px 3px 0 rgba(0,0,0,.3));
          width: 125px;
          height: 125px;
          border: 5px solid #fff;
        }
        .remove_photo{
          background: asset-data-url("icon-delete.png") 2px 1px no-repeat;
          padding-left: 20px;
          color: #d00;
          font-size: 12px;
          line-height: 18px;
          text-align: center;
          position: relative;
          top: 5px;
        }
      }
    }
    p{ 
      strong{
        font-weight: 700;
        font-size: 14px;
      }
      .cancel_upload{
        font-weight: normal;
        color: #d00;
      }
    }
    .file.photo_upload + div{
      left: -162px !important;
    }
    .photo-upload{
      padding-bottom: 15px;
      border-bottom: 1px solid #BFBFBF;
      margin-bottom: 20px;
      input.photo_upload.first + div{
        background-position: 0 0 !important;
        padding-bottom: 7px !important;
      }
    }
    #relic_license_agreement_input{
      #relic_license_agreement{
        width: auto;
        height: auto;
        margin: 0 5px 5px 0;
      }
      span{
        color: #d00;
        font-size: 12px;
        margin-top: 3px;
      }
      em.icons{
        width: 58px;
        height: 16px;
        background: asset-data-url("cc-icons.png") no-repeat;
        display: inline-block;
      }
    }
  }
}