@import "../mixins";

.edit_relic section.photos {
  form{
    .photo{
      border-bottom: 1px solid #bfbfbf;
      padding-bottom: 20px;
      .column-left{
        .preview{
          box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
          width: 125px;
          height: 125px;
          border: 5px solid #fff;
        }
        .remove_photo{
          background: asset-data-url("icon-delete.png") 2px 1px no-repeat;
          padding-left: 20px;
          color: #d00;
          font-size: 12px;
          line-height: 18px;
          text-align: center;
          position: relative;
          top: 5px;
        }
      }
    }
    p{
      strong{
        font-weight: 700;
        font-size: 14px;
      }
      .cancel_upload{
        font-weight: normal;
        color: #d00;
      }
    }
    .file.photo_upload + div{
      left: 0 !important;
      float: left;
    }
    .photo-upload{
      padding-bottom: 15px;
      border-bottom: 1px solid #BFBFBF;
      margin-bottom: 20px;
      input.photo_upload.first + div{
        background-position: 0 0 !important;
        padding-bottom: 7px !important;
      }
    }

    #relic_license_agreement_input{
      #relic_license_agreement{
        width: auto;
        height: auto;
        margin: 0 5px 0 0;
      }
      span{
        color: #d00;
        font-size: 12px;
        margin-top: 3px;
        line-height: 1.5;
      }
      .small{
        font-size: 11px;
        font-weight: normal;
      }
      em{
        display: inline-block;
        margin-left: 5px;
        height: 16px;
      }
      em.icons{
        width: 58px;
        background: asset-data-url("cc-icons.png") no-repeat;

      }
      em.icons-by{
        width: 37px;
        background: asset-data-url("cc-icons-by.png") no-repeat;
      }
      .cc-search{
        display: block;
        background: asset-data-url("edit-relic-ico-info.png") no-repeat;
        padding-left: 20px;
        &.small{
          color: #323232;
        }
      }
    }
  }

  .photo-attributes{
    .photo{
      .column-right{
        width: 525px;
      }
    }
  }
  .photo {
    clear: both;
    margin-bottom: 16px;

    &.hidden {
      display: none;
    }

    .column-left {
      display: inline-block;
      margin-right: 5px;
      text-align: center;
      vertical-align: top;
    }

    .column-right {
      display: inline-block;
      vertical-align: top;
      width: 557px;
    }

    .preview-placeholder {
      background: #eee;
    }
  }

  input[type="text"] {
    width: 535px;
  }

  .progressbar {
    position: relative;
    height: 10px;
    margin: 10px 0;
    &.ui-progressbar{
      overflow: visible;
      .ui-widget-header{
        @include gradient(#6a8593, #3a5663);
        border: 0;
        margin: 0;
      }
    }
    &.ui-widget-content{
      border: 1px solid #646464;
    }
  }

  .progressbar .value {
    position: absolute;
    left: 49%;
    top: 16px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
  }
}

.fancybox-inner .edit_relic section.photos .photo-attributes .photo .column-right{
  width: 557px;
  p, label{
    line-height: 18px;
  }
  p{
    margin-bottom: 10px;
  }
  .redactor_box {
    margin: 10px 0;
  }
  .alternate_text {
    margin-bottom: 0;
  }
}
