!!!
%html
  %head
    %meta( content="text/html; charset=utf-8" http-equiv="Content Type" )
  %body
    %h1 Witaj #{ @user.username }
    %p
      Dziękujemy za rejestrację w Otwartych Zabytkach
    %p
      Twoje hasło do serwisu to: #{ @password }