-#.ask_account Czy konto jest mi potrzebne?
-#Bazę można przeglądać bez konieczności logowania. Ale jeśli chcesz dodawać lub uzupełniać informacje - logowanie jest niezbędne.
-#.ask_account Masz konto?
-#= link_to "Zaloguj się tutaj.", new_user_session_path, :remote => request.xhr?
= t('.iframe_sidebar', :scope => 'views')
= link_to t('.login_intro', :scope => 'views'),  new_user_session_path, :remote => request.xhr?, :target => '_blank'