.ask_account Czy konto jest mi potrzebne?
Bazę można przeglądać bez konieczności logowania. Ale jeśli chcesz dodawać lub uzupełniać informacje - logowanie jest niezbędne.
.ask_account Nie masz konta?
= link_to "Zarejestruj się tutaj.", new_user_registration_path, :remote => request.xhr?