.oz-widget__walking-guide--new {
  h1 {
    font-weight: 600 !important;
    color: #fff !important;
  }
  .search-query__input, input[type="text"], textarea{
    width: 100% !important;
  }
  input[type="text"]{
    height: 26px !important;
  }
  .oz-map-container {
    position: relative;
    width: 100%;
  }
  .angular-google-map-container {
    position: unset !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
  .widget__walking-guide .button + .button {
    margin-left: 8px !important;
  }
}

@media screen and (max-width: 992px) {
  .oz-map-container {
    margin-top: 15px;
  }
}

@media screen and (max-width: 768px) {
  .oz-xs-ng-show {
    position: absolute;
    left: 70px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(54, 89, 107), rgb(47, 81, 99));
  }
}

@media screen and (max-width: 640px) {
  .code-generator__input-block + .code-generator__input-block {
    margin-left: 0;
  }
}

