= stylesheet_link_tag "http://#{Settings.oz.host}/assets/widgets/add_relic.css"
.widget-box
  .widget-logo
  %h3 Lorem Ipsum Dolor Sit Amet
  .actions
    %button{:src => "http://iframe.#{Settings.oz.host}/relicbuilder/new"}
      Dodaj nowy zabytek