= stylesheet_link_tag "http://#{Settings.oz.host}/assets/widgets/add_relic.css"
.widget-box
  .widget-logo
  %h3 Znasz zabytek, którego nie ma w bazie Otwartych zabytków?
  .actions
    %button{:src => "http://iframe.#{Settings.oz.host}/relicbuilder/new"}
      Dodaj nowy zabytek