- navigators = parse_navigators(relics.facets)
.well.sidebar-nav
  %h3 Lokalizacja
  %ul.nav.nav-list
    - location = params[:location].to_s.split('-')
    - navigators['voivodeships'].each do |obj|
      %li
        = link_to_facet obj, location, 0 do
          %ul
            - navigators['districts'].each do |obj|
              %li
                = link_to_facet obj, location, 1 do
                  %ul
                    - navigators['communes'].each do |obj|
                      %li
                        = link_to_facet obj, location, 2 do
                          %ul
                            - navigators['places'].each do |obj|
                              %li
                                = link_to_facet obj, location, 3