.about_top.download_top
  Baza danych zabytków
.content_more_about
  %p.small
    Tu możesz pobrać plik w formacie .csv z aktualną zawartością bazy danych (katalogu zabytków), zawierającą historię edycji poszczególnych pól. 
  %p.small
    Baza dostępna jest na licencji 
    = link_to 'Creative Commons Zero (CC0)', "http://creativecommons.org/choose/zero/"
  %p.small
    %a.download Pobierz dane