.edit_relic.new_relic
  = render :partial => "stages", :locals => { :stage => 3 }
  .creator
    %section.main
      %section.creator-step
        %p.intro
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis luctus malesuada. Pellentesque purus augue, facilisis id hendrerit et, tincidunt a mauris. 
        %p.intro
          Vivamus vestibulum semper odio, nec volutpat sapien egestas ut. Nam iaculis dapibus eros convallis mollis. Nullam non ligula ut leo porta venenatis sed in nibh.
      %section.creator-step
        .field.text
          %label.main Nazwa
          %input{:type => "text"}
        %aside
          %h3 Jak dobrać najlepszą nazwę?
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      %section.creator-step
        .field.text.textarea
          %label.main Uzasadnienie
          %textarea
        %aside
          %h3 Co decyduje o tym, ze dany obiekt można traktować jako zabytek?
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare venenatis pulvinar. Vestibulum suscipit enim in urna placerat aliquam.
      = link_to '#', :class => 'next-step' do
        %strong Przejdź dalej &raquo;
        %small Krok 4
    
- content_for :footer_javascripts do
  != javascript_include_tag "profile"