- content_for :title, relic.identification
- content_for :facebook_meta do
  %meta{:property => 'og:title', :content => relic.identification}
  %meta{:property => 'og:description', :content => strip_tags(relic.description)}
  %meta{:property => 'og:image', :content => relic.has_photos? ? (URI.parse(root_url) + image_path(relic.main_photo.file.icon.url)).to_s : t('layouts.application.og.image', :editable => false)}

%header.Sidebar
  %h1.Logo
    %span.Logo-Header Karta z przewodnika:
    %b.Hidden Otwarte Zabytki
    = image_tag 'logo.png', :alt => 'Logo', :class => 'Logo-Image'
%article
  %header.Title
    %h1.Title-Header= relic.identification
    %dl.Title-Content.Definition--inline
      %dt.Definition-Header Nazwa zwyczajowa
      %dd.Definition-Content Lorem ipsum dolor sit amet
  %article
    %h1.Hidden Informacje ogólne
    .Sidebar
      %img.SectionMap{:src => 'http://maps.google.com/maps/api/staticmap?center=37.386052,-122.083851&zoom=13&markers=color:white|37.386052,-122.083851&size=250x150&sensor=false', :width => 250, :height => 150, :alt => 'Mapa'}
      .Definition.SectionGroup
        %h2.Definition-Header Elementy należące do tego zespołu zabytków
        %ul.Defintion-Content
          - ([relic.identification] * 5).each_with_index do |subrelic, i|
            %li #{subrelic} #{i + 1}

    %img.SectionPhoto{:src => 'http://placehold.it/200x150', :width => 200, :height => 150, :alt => 'Zdjęcie zabytku'}

    .Definition.SectionLocation
      %h2.Definition-Header Lokalizacja
      .Definition-Content
        Lorem ipsum dolor sit amet
    .Definition--inline.SectionDate
      %h2.Definition-Header Data powstania
      .Definition-Content
        2013
    .Definition--inline.SectionRegistryNumber
      %h2.Definition-Header Numer w rejestrze
      .Definition-Content
        2013
    .Definition--inline.SectionsCategories
      %h2.Definition-Header Kategorie
      %ul.Definition-Content
        %li katolicki
        %li protestancki
    .Definition--inline.SectionTags
      %h2.Definition-Header Tagi
      %ul.Definition-Content
        %li katolicki
        %li protestancki
    .Definition.SectionRegistry
      %p.Definition-Content Zabytek wpisany jest do Rejestru zabytków
    .Definition.SectionDates
      %h2.Definition-Header Ważne daty
      %ul.Definition-Content
        %li 2012 — katolicki
        %li 2013 — protestancki
  %article.Description
    %h1.Description-Header Opis
    .MainContent.Description-Content
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales suscipit luctus. Duis purus dolor, vehicula eget ornare elementum, commodo id ante. Morbi et ligula augue. Pellentesque ut sapien ligula. Pellentesque ante tellus, ullamcorper vitae fringilla eget, elementum id ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse dictum dictum libero, sed congue tortor fringilla in. Vivamus non eros enim. Maecenas in sapien eu massa pharetra pretium.
  %section.Description
    %h1.Description-Header Ciekawostki, legendy, anegdoty
    %article.Description-Content
      %h1.Description-Content-Header Lorem
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales suscipit luctus. Duis purus dolor, vehicula eget ornare elementum, commodo id ante. Morbi et ligula augue. Pellentesque ut sapien ligula. Pellentesque ante tellus, ullamcorper vitae fringilla eget, elementum id ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse dictum dictum libero, sed congue tortor fringilla in. Vivamus non eros enim. Maecenas in sapien eu massa pharetra pretium.
    %article.Description-Content
      %h1.Description-Content-Header Ipsum
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales suscipit luctus. Duis purus dolor, vehicula eget ornare elementum, commodo id ante. Morbi et ligula augue. Pellentesque ut sapien ligula. Pellentesque ante tellus, ullamcorper vitae fringilla eget, elementum id ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse dictum dictum libero, sed congue tortor fringilla in. Vivamus non eros enim. Maecenas in sapien eu massa pharetra pretium.
    %article.Description-Content
      %h1.Description-Content-Header Dolor
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales suscipit luctus. Duis purus dolor, vehicula eget ornare elementum, commodo id ante. Morbi et ligula augue. Pellentesque ut sapien ligula. Pellentesque ante tellus, ullamcorper vitae fringilla eget, elementum id ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse dictum dictum libero, sed congue tortor fringilla in. Vivamus non eros enim. Maecenas in sapien eu massa pharetra pretium.
    %article.Description-Content
      %h1.Description-Content-Header Sit Amet
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales suscipit luctus. Duis purus dolor, vehicula eget ornare elementum, commodo id ante. Morbi et ligula augue. Pellentesque ut sapien ligula. Pellentesque ante tellus, ullamcorper vitae fringilla eget, elementum id ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse dictum dictum libero, sed congue tortor fringilla in. Vivamus non eros enim. Maecenas in sapien eu massa pharetra pretium.
