%p.feed-description Lista zabytków sprawdzonych przez Ciebie:

%section.feed.type-user-checked
  %h1.feed-title.hidden Sprawdzone zabytki
  - checked_relics.each do |relic|
    %dl.feed-item
      %dd.feed-image.thumb
        = image_tag relic.main_photo.file.url(:icon),
          :width => 56, :height => 56,
          :alt => relic.identification
      %dt.feed-message
        = link_to relic.identification, relic
      %dd.feed-message
        = state_tag(relic)
