%figure.user-avatar
  %img.user-avatar-image{:alt => user.username, :src => asset_path('dummy-avatar.jpg'), :width => 320, :height => 320}
  %figcaption.user-avatar-caption-outer
    - unless current_page?([user, :settings])
      .user-avatar-change
        = link_to 'Zmień zdjęcie', [user, :settings], class: 'user-avatar-change-link', anchor: 'change-avatar' # fix anchor
    %span.user-avatar-caption= user.username
