%section.user-profile
  .user-profile-column-left
    = render 'navigation'
    .user-profile-content
      = render 'list_watched'
  .user-profile-column-right
    = render 'user_avatar'
    = render 'list_added'
