%section.user-profile
  .user-profile-column-left

    .nav-tabs-container
      .nav-tabs-outer
        %ul.nav-tabs
          %li.nav-tab
            %a.nav-tab-link.type-followed.active{:href => '#'}> Obserwowane
          %li.nav-tab
            %a.nav-tab-link.type-checked{:href => '#'}> Sprawdzone przeze mnie
          %li.nav-tab
            %a.nav-tab-link.type-settings{:href => '#'}> Ustawienia

    = render 'feed'

  .user-profile-column-right
    %figure.user-avatar
      %img.user-avatar-image{:alt => user.username, :src => asset_path('dummy-avatar.jpg'), :width => 320, :height => 320}
      %figcaption.user-avatar-caption-outer
        %span.user-avatar-caption= user.username


    %section.feed.user-added-feed
      - added_items_count = 4

      %h1.feed-title
        Dodane zabytki
        %span.badge= added_items_count

      - (0...added_items_count).each do |item|
        %dl.feed-item
          %dd.feed-image.thumb
            %img{:alt => 'Zabytek', :src => asset_path('fallback/photo_icon_default.png'), :width => 56, :height => 56}
          %dt.feed-message
            %a{:href => '#'}> Most Grunwaldzki
          %dd.feed-message
            %b> sprawdzony
