.bootstrap-iso.js-remove-their-container
  .container
    %section.user-profile.oz-user-profile
      .user-profile-column-left.col-md-7.col.sm-6.col-xs-12.oz-no-padding
        = render 'navigation'
        .user-profile-content
          = render 'list_watched'
      .user-profile-column-right.col-md-5.col.sm-6.col-xs-12.oz-no-padding
        = render 'user_avatar'
        = render 'list_added'
