.login_title_forgot
  %h2 Nie masz hasła?
.form_box_forgot
  .ask_account Co zrobić jeśli nie mam hasła?
  .txt_forgot
    Hasło zostało wysłane do Ciebie mailem w momencie
    rejestracji. Jeśli nie możesz go znaleźć, wyślemy
    je ponownie.
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    - unless resource.errors.empty?
      .alert.alert-error
        Podany adres e-mail nie został znaleziony
    .form-inputs
      = f.input :email, :error => false
    .form-actions
      = f.button :submit, "Wyślij link do resetowania hasła"
