%h1
  = t('widget.walking_guide.title')
  %a.back(href=widgets_path)= t('views.widgets.edit.back')
.content.walking-guide__content
  .sidebar
    %ul.walking-guide__relics(ui-sortable="sortableOptions" ng-model="widget.relics")
      %li.walking-guide__relic(ng-repeat="relic in widget.relics")
        %h3.walking-guide-relic__title {{ relic.identification }}
        %p.walking-guide-relic__location
          %span(ng-show="relic.street") {{ relic.street }},
          {{ relic.place }}
        %button.walkig-guide-relic__remove(type="button" ng-click="removeRelic(relic)") &times;
      .walking-guide__search
        %form(name="searchForm" ng-submit="searchRelics()")
          %input(type="text" name="query" ng-minlength="4" ng-model="query" placeholder="what, where")
          %button(type="button" ng-click="resetForm()") &times;
          %span.error(ng-show="searchForm.submitted && searchForm.query.$error.minlength")
            Query is too short!
          %input.hidden(type="submit")
        .walking-guide__suggestions
          %ul
            %li(ng-show="suggestions && !suggestions.length")
              Nothing found
            %li(ng-repeat="relic in filteredSuggestions()")
              %a(ng-click="selectRelic(relic)" href="")
                %strong {{ relic.identification }}
                %p
                  %span(ng-show="relic.street") {{ relic.street }},
                  {{ relic.place }}
          %button(type="button" ng-click="nextPage()" ng-show="currentPage + 1 < totalPages" ng-disabled="loading")
            {{ loading && 'Loading...' || 'Load more' }}
    .walking-guide__description
      %textarea(ng-model="widget.description")
    %button(type="button" ng-click="save()" ng-disabled="saving || loading")
      {{ saving && 'Saving...' || 'Save' }}
  %google-map(center="map.center" zoom="map.zoom" events="map.events")
