.bootstrap-iso.js-remove-their-container
  .container
    .widget.widget--edit.widget__walking-guide.oz-widget__walking-guide--edit(ng-controller="WalkingGuideCtrl" ng-cloak ng-init="load('#{walking_guide.uid}')")
      = render 'walking_guide2'
