.bootstrap-iso.js-remove-their-container
  .container
    .widget.widget--new.widget__walking-guide.oz-widget__walking-guide--new(ng-controller="WalkingGuideCtrl" ng-cloak)
      = render 'walking_guide2'
