<div class='about_top contact_top'>
  Kontakt
</div>
<div class='content_more_about dupa'>
  <p class='small'>
    Jeśli masz jakieś pytania dotyczące „Otwartych zabytków”, napisz do nas na
    <%= mail_to Settings.oz.email_sender %>
  </p>
  <p class='small'>
    Koordynatorki projektu:
    <br>
    Kasia Sawko,
    <%= mail_to 'ksawko@centrumcyfrowe.pl', 'ksawko@centrumcyfrowe.pl' %>
    <br>
    Katarzyna Werner,
    <%= mail_to 'kwerner@centrumcyfrowe.pl', 'kwerner@centrumcyfrowe.pl' %>
  </p>
  <p class='small'>
    Centrum Cyfrowe Projekt: Polska
    <br>
    ul. Mińska 25 bud. 74
    <br>
    03-808 Warszawa
    <br>
    telefon: +48 22 243 93 06
    <br>
    <%= link_to 'www.centrumcyfrowe.pl', 'http://www.centrumcyfrowe.pl' %>
  </p>
<p class='small'>
  <iframe class="oz-contact-map" width="425" scrolling="no" height="350" frameborder="0" src="http://www.openstreetmap.org/export/embed.html?bbox=21.05765,52.2472,21.06553,52.25138&amp;layer=mapnik&amp;marker=52.24981,21.06118" marginwidth="0" marginheight="0" style="border: 1px solid black;"></iframe>
</p>
</div>
