<div class="row">
  <div class="about_top download_top">
    Baza danych zabytków
  </div>
  <div class="content_more_about">
    <p class="small">
      Tu możesz pobrać skompresowany (metodą zip) plik z aktualną zawartością bazy danych (katalogu zabytków) w formacie JSON.
      Ze względu na wielkość bazy danych zabytków plik jest aktualizowany co tydzień.
    </p>
    <p class="small">
      Baza dostępna jest na licencji
      <br/>
      <a href="http://creativecommons.org/licenses/by-sa/3.0/pl/" target="_blank">Creative Commons Uznanie Autorstwa-Na Tych Samych Warunkach 3.0 Polska</a>
      <em class="icons"></em>
    </p>
    <% if @export_files and @export_files.present? %>
      <% @export_files.each do |file| %>
        <p class="small">
          <%= link_to raw("Pobierz dane <span class=\"size\">(#{file[:size]} MiB)</span><br><span class=\"date\">#{l file[:date]}</span>"), file[:url], :class => 'download' %>
        </p>
      <% end %>
    <% else %>
      <strong>pliki obecnie są niedostępne</strong>
    <% end %>
  </div>
</div>