<div class='content_more'>
  <h1>Cyfrowy Czyn Społeczny</h1>
  <h2>Akcja uzupełniania danych pochodzących z rejestru zabytków</h2>
  <p class='bold'>3-24 lipca 2012</p>
  <div class='txt_content'>
    <p class='italic'><span>Organizator:</span> Centrum Cyfrowe Projekt: Polska</p>
    <p class='normal'>Zapraszamy do akcji tworzenia społecznościowej, otwartej bazy wiedzy o zabytkach.</p>
    <p class='bold_2'>To naprawdę proste. Wystarczy poświęcić parę chwil i dać się poprowadzić:</p>
    <ol>
      <li>wybrać dowolny zabytek spośród 65 tys. obiektów z bazy</li>
      <li>znaleźć (np. w Sieci) brakujące informacje o nim (może to być nazwa, adres lub data powstania)</li>
      <li>wpisać znalezione informacje w tabelkę</li>
      <li>wybrać z listy określenia, które naszym zdaniem pasują do danego zabytku</li>
      <li>oznaczyć obiekt na mapie (przeciągnąć znacznik w odpowiednie miejsce)</li>
      <li>zatwierdzić.</li>
    </ol>
    <p class='normal'>Sprawdzanie poprawności wprowadzanych informacji w ramach Otwartych Zabytków również odbywa się społecznościowo. Zanim dany zabytek zostanie zatwierdzony i zniknie z puli „do sprawdzenia”, musi zostać przejrzany niezależnie przez trzech uczestników akcji.</p>
    <p class='normal'>Wydaje się, że 65 tysięcy zabytków to bardzo dużo, ale urok Cyfrowego Czyny Społecznego polega na tym, że wystarczy, że każdy zajmie się jednym lub paroma obiektami i baza może stać się kompletna przed końcem lipca :)</p>
    <p class='normal'>Nasza crowdsourcingowa akcja potrwa trzy tygodnie. Na połowę sierpnia zaplanowaliśmy uruchomienie otwartego, dostępnego dla wszystkich serwisu o zabytkach i kompletne dane są nam potrzebne do jego uruchomienia.</p>
    <p class='normal'>Chcemy stworzyć w Sieci godne miejsce dla polskich zabytków i podzielić się wiedzą o nich z innymi. Treści, które znajdą się w serwisie będą dostępne na licencji Creative Commons Uznanie autorstwa, co oznacza, że będzie można z nich korzystać bez ograniczeń, swobodnie wykorzystywać, kopiować, rozpowszechniać i modyfikować.</p>
    <p class='normal'>Zapraszamy do akcji!</p>
  </div>
</div>
<div class='box_bottom'>
  <div class='txt_info_bottom'></div>
  <h2>Zacznij od razu. Wyszukaj zabytek, na przykład:</h2>
</div>
