<div class='content_more priv'>
  <h2>Polityka prywatności</h2>
  <h3>Dane zbierane podczas rejestracji</h3>
  <p>Pomimo tego, że rejestracja w serwisie „Otwarte zabytki” nie jest obowiązkowa, aby skorzystać z niektórych funkcji systemu należy się zarejestrować. Podczas rejestracji należy podać swój adres email oraz hasło, które pozwoli się następnie zalogować do systemu.</p>
  <h3>Dane zbierane automatycznie</h3>
  Podczas korzystania z serwisu automatycznie zbierane są następujące dane: edycje bazy zabytków, adres IP oraz dane pobierane przez narzędzie Google Analytics zgodnie z zasadami prywatności opisanymi tutaj: http://www.google.com/intl/pl/policies/privacy/. Dane te zbierane są na temat każdego użytkownika.
  <h3>W jaki sposób wykorzystujemy dane o użytkownikach?</h3>
  <p>Zebrane w trakcie rejestracji dane nie będą udostępniane osobom trzecim. Dane te służą jedynie umożliwieniu bezpiecznego logowania do serwisu oraz przygotowywaniu statystyk edycji dokonanych w bazie przez użytkowników.</p>
  Dane zbierane automatycznie posłużą do analizy sposobu korzystania użytkowników z serwisu „Otwarte zabytki” oraz personalizacji stron serwisu po zalogowaniu się przez użytkownika.
  Zastrzegamy sobie też prawo do kontaktowania się z użytkownikami, przy wykorzystaniu podanego adresu e-mail, w sprawach związanych z działalnością użytkowników w serwisie.
  <h3>Wykorzystanie ciasteczek ("cookies")</h3>
  <p>Nasza strona internetowa może wykorzystywać ciasteczka, które służą identyfikacji przeglądarki użytkownika podczas korzystania z serwisu „Otwarte zabytki”. Ciasteczka nie zawierają żadnych danych osobowych. Są one konieczne do poprawnego działania serwisu.</p>
  <h3>W jaki sposób zabezpieczamy Twoje dane osobowe?</h3>
  <p>Dane przechowujemy w bazach posiadających standardowe zabezpieczenia przed wglądem osób trzecich.</p>
  <h3>Zmiany naszej polityki prywatności</h3>
  <p>Zastrzegamy sobie prawo zmiany powyższej polityki prywatności poprzez opublikowanie nowej polityki prywatności na tej stronie.</p>
</div>
