%section.description
  %h2 Opis
  = semantic_form_for relic, :html => { :style => "width: 585px;"} do |f|
    = hidden_field 'section', params[:section]
    = f.input :description, :label => false, :input_html => { :class => "redactor", :style => 'height: 190px;' }
    = f.submit 'zapisz'
