.row
  = semantic_form_for relic, :url => section_relic_path(relic.id, :section => :general), :remote => true do |f|
    = f.input :identification, :as => :string
    .actions
      = f.submit 'zapisz zmiany'
      lub
      = link_to "anuluj", relic_path(relic.id), :remote => true