-if widget.class.partial_name == "direction"
  .bootstrap-iso.js-remove-their-container
    .container
      .oz-direction-widget
        = render "/widgets/edit_bs"
-else
  = render "/widgets/edit_bs"
