%section.widgets
  %h1.about_top Widgety:
  .content
    .description
      %h3 Czym są widgety?
      %p Nulla facilisi. Ut metus nulla, iaculis at imperdiet quis, semper sit amet velit. Donec fermentum turpis id nulla iaculis rutrum. Mauris consequat, tellus vitae consectetur dignissim, est risus tempus dolor, at varius odio sapien sit amet lacus. Integer vulputate.
      %h3 Jak skonfigurować widget?
      %p Nulla facilisi. Ut metus nulla, iaculis at imperdiet quis, semper sit amet velit. Donec fermentum turpis id nulla iaculis rutrum. Mauris consequat, tellus vitae consectetur dignissim.
      %p Nulla facilisi. Ut metus nulla, iaculis at imperdiet quis, semper sit amet velit. Donec fermentum turpis id nulla iaculis rutrum.
      %h3 Chcesz stworzyć widget?
      %p Nulla facilisi. Ut metus nulla, iaculis at imperdiet quis, semper sit amet velit. Donec fermentum turpis id nulla iaculis rutrum. Mauris consequat, tellus vitae consectetur dignissim, est risus tempus dolor, at varius odio sapien sit amet lacus. Integer vulputate
    .widgets
      - widget_templates.each do |widget_template|
        .widget
          - if widget_template.thumb.url
            .image
              = image_tag widget_template.thumb.url, :width => "200", :height => "180"
          .widget_content
            %h2= widget_template.name
            %p= widget_template.description
            .actions
              = link_to 'Użyj widgeta', widgets_path(:widget_template_id => widget_template.id), :class => "use-widget btn", :method => :post