.map#map-poland
  %ul.poland
    - Voivodeship.all.each_with_index do |v, i|
      %li{:class => "pl#{i+1}"}
        %a{:href => "##{v.name.parameterize}", :rel => "nofollow"}
          %h3= "woj. #{v.name}"
          %table
            %tr
              %td 2
              %td 142
              %td 3456
            %tr
              %td uzupełnione
              %td sprawdzone
              %td niesprawdzone
          %button Zobacz wszystkie >>
