.about_top.download_top
	Polityka stosowania ciasteczek
.content_more_about
	%p.small
		Ta strona używa ciasteczek (cookies). Dodatkowo na stronie znajduje się skrypt Google Analytics (statystyki oglądalności) oraz skrypt przycisku serwisu społecznościowego Facebook, które również mogą zapisywać ciasteczka.
		Możesz określić warunki przechowywania lub dostępu do plików cookies w Twojej przeglądarce. 
	%p.small
		Więcej na temat ciasteczek (cookies) można przeczytać na stronie Wszystko o ciasteczkach:
		=link_to 'http://wszystkoociasteczkach.pl/', 'http://wszystkoociasteczkach.pl/'