Witaj, 
= current_user.username

Wysłaliśmy Ci hasło na podany przez Ciebie adres e-mail.
Będzie Ci potrzebne do zalogowanie się przy ponownej wyzycie

= link_to root_path, :class => "btn" do
  Przejdź do wyszukiwania zabytków &raquo;