.content_more
  %h2 Regulamin użytkownika
  %br
  .txt_content
    %ol
      %li Użytkownik zobowiązuje się edytować dane zebrane w serwisie Otwarte zabytki zgodnie ze swoją najlepszą wiedzą, dbając o wysoką jakość wprowadzanych informacji.
      %li Użytkownik udziela licencji Creative Commons Zero na wprowadzane przez siebie dane, które mogłyby być przedmiotem prawa autorskiego. Treść licencji jest dostępna pod adresem <a href="http://creativecommons.org/publicdomain/zero/1.0/">http://creativecommons.org/publicdomain/zero/1.0/</a>
      %li Administrator zastrzega sobie prawo zablokowania działań użytkownika oraz usunięcia dokonanych edycji w sytuacji wykrycia aktów wandalizmu.