.under_construction
  %h2 Witamy na stronie projektu Otwarte Zabytki
  .more_info
    (poczytaj o nas na:
    %a{:href => 'http://centrumcyfrowe.pl/projekty/otwarte-zabytki/'}><
      http://centrumcyfrowe.pl/projekty/otwarte-zabytki/
    )
  .note
    Już na początku września zapraszamy do współtworzenia katalogu Otwartych Zabytków w nowej odsłonie.
    Będziemy w nim gromadzić znacznie więcej informacji niż dotychczas, umożliwimy Wam też alertowanie o stanie zabytku i dodawanie nowych. Zapraszamy!
  .news
    Aktualności można znaleźć na:
    %a{ :href => 'http://www.facebook.com/OtwarteZabytki' }
      http://www.facebook.com/OtwarteZabytki