.under_construction
  %h2 Witamy na stronie projektu Otwarte Zabytki
  .more_info
    (poczytaj o nas na:
    %a{:href => 'http://centrumcyfrowe.pl/projekty/otwarte-zabytki/'} http://centrumcyfrowe.pl/projekty/otwarte-zabytki/
    )
  .note
    Już na początku września zapraszamy do współtworzenia katalogu Otwartych Zabytków w nowej odsłonie.
    Będziemy w nim gromadzić znacznie więcej informacji niż dotychczas, umożliwimy Wam też alertowanie o stanie zabytku i dodawanie nowych. Zapraszamy!
  #mc_embed_signup.newsletter
    %form#mc-embedded-subscribe-form.validate.form-search{:action => "http://centrumcyfrowe.us5.list-manage.com/subscribe/post?u=b14866abcb85fe1b16b6a05e2&id=d9f7e7ac70", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
      %label{:for => "mce-EMAIL"} Jeśli chcesz otrzymać powiadomienie, gdy serwis ruszy, zostaw swój email:
      %div
        %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "Adres e-mail", :required => "", :type => "email", :value => "", :class => "text"}
        %input#mc-embedded-subscribe.button.submit.btn{:name => "subscribe", :type => "submit", :value => "Powiadom mnie »"}/
  .news
    Aktualności można znaleźć na:
    %a{ :href => 'http://www.facebook.com/OtwarteZabytki' }
      http://www.facebook.com/OtwarteZabytki
  .row
    .about_top.download_top
      Baza danych zabytków
    .content_more_about
      %p.small
        Tu możesz pobrać plik w formacie .csv z aktualną zawartością bazy danych (katalogu zabytków), zawierającą historię edycji poszczególnych pól.
      %p.small
        Baza dostępna jest na licencji
        = link_to 'Creative Commons Zero (CC0)', "http://creativecommons.org/choose/zero/"
      - if @export_url
        %p.small
          = link_to 'Pobierz dane', @export_url, :class => 'download'
      - else
        %strong plik obecnie nie dostępny