%h1
  #{widget.class.title}
  %a.back{:href => widgets_path} &laquo; wróć do katalogu widgetów
- if widget.valid?
  .content
    %h2 Podgląd wygenerowanego widgetu
    .preview
      = raw(widget.snippet)
    %h2 Wygenerowany kod do wstawienia na stronę
    %div
      %span.block Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulumque sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum que sapien.
      %textarea{:cols => "20", :rows => "3"}= widget.snippet