= form.semantic_fields_for :config, widget.config do |f|
  = f.input :width, :label => "Szerokość widgeta", :input_html => { :value => widget.config.width || 690 }
  = f.input :height, :label => "Wysokość widgeta", :input_html => { :value => widget.config.height || 500 }