= form.input :width, :label => "Szerokość widgeta"
= form.input :height, :label => "Wysokość widgeta"
= form.input :hide_sidebar, :as => :boolean, :label => "Ukryj pasek boczny", :required => false
= form.input :api_params, :as => :text,
             :label => "Parametry do <a href='/api_doc/'>API</a>".html_safe,
             :hint => "Ustawisz je poruszając mapką podglądową po prawej stronie.",
             :input_html => { :readonly => "readonly" }