development:
  adapter: postgresql
  encoding: unicode
  database: otwartezabytki_development
  pool: 5
  username: otwartezabytki
  password:
  template: template0

test:
  adapter: postgresql
  encoding: unicode
  database: otwartezabytki_test
  pool: 5
  username: postgres
  password:
  template: template0
