@import "button_states";

.step {
  clear: both;
  border-radius: 3px;
  border: 3px solid #fff;
  background: #eee;
  padding: 25px 25px 40px 25px;
  margin-bottom: 1px;

  .ico {
    width: 58px;
    height: 13px;
    position: absolute;
    background: asset-data-url('icon-waiting-big.png') no-repeat;
    right: 25px;
    bottom: 17px;
  }

  input[type="text"] {
    color: #1e5d7d;
    font-size: 14px;
    border: 1px solid #346d8a;
    border-radius: 2px;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 0 5px 1px rgba(30, 93, 125, 0.3);
    height: 32px;
    padding: 0 70px 0 10px;
    margin: 10px 0 15px;
    background: #fafafa; /* Old browsers */
    background: -moz-linear-gradient(top, #fafafa 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fafafa 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fafafa 0%, #ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fafafa 0%, #ffffff 100%); /* IE10+ */
    background: linear-gradient(top, #fafafa 0%, #ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fafafa', endColorstr = '#ffffff', GradientType = 0); /* IE6-9 */
    width: 370px;
    &:focus {
      outline: 0;
    }
  }

  input[type="text"][readonly] {
    background: none;
    border: 0;
    box-shadow: none;
    color: $blue;
    display: block;
    width: 100%;
    font-weight: 600;
    filter: none;
    padding-left: 0;
  }

  label {
    font-size: 13px;
    text-transform: uppercase;
  }

  .hidden {
    display: none;
  }

  h3 {
    font-weight: 400;
    font-size: 16px;
  }

  .help-content {
    position: relative;
    .help {
      display: none;
      float: right;
      font-size: 12px;
      color: #4a6b7d;
      font-weight: 600;
      position: absolute;
      right: 0px;
      top: 0px;
      padding-left: 26px;
      background: asset-data-url('wizard-icon-help-selected.png') no-repeat;
      line-height: 18px;
    }
    .help-extended {
      display: none;
      .close {
        float: right;
      }
    }
  }

  &.step-current .help-content {
    &.active {
      padding: 0;
      margin: -25px -25px 0 -25px;
      .help {
        display: none;
      }
      .help-extended {
        display: block;
      }
    }
    .help {
      display: block;
      cursor: pointer;
      z-index: 1000;
    }
    .help-extended {
      padding: 25px;
      margin-bottom: 20px;
      background: #f4f7f9;
      border-bottom: 1px dashed #47697a;
      .close {
        float: right;
        font-size: 12px;
        color: #0c4e6e;
        font-weight: 600;
        padding-left: 26px;
        background: asset-data-url('wizard-icon-help-selected.png') no-repeat;
        line-height: 18px;
        cursor: pointer;
        position: relative;
        z-index: 1000;
      }
      p {
        font-size: 13px;
        color: #08374d;
        line-height: 20px;
        padding-right: 140px;
        margin: 0;
      }
    }
  }

  .actions {
    h3 {
      margin-bottom: 20px;
    }
  }

  .action-edit, .action-skip, .action-confirm {
    display: inline-block;
  }

  .action-skip {
    a {
      cursor: default;
      color: #567785;
      font-size: 14px;
      padding: 8px 20px;
      margin-right: 25px;
    }
  }

  .action-edit a, .action-confirm a {
    @include button_general;
  }

  .action-back {
    margin-top: 20px;
    font-size: 16px;
    a {
      color: #1e5d7d;
      font-weight: bold;
    }
  }
}

.step-edited, .step-edit {
  .action-confirm a { @include button_blurred; }
  .action-edit a { @include button_pushed; }
}

.step-current.step-view {
  .action-skip a { cursor: pointer; }
  .action-edit, .action-confirm {
    a { cursor: pointer; }
    a:hover { @include button_hover; }
    a:active { @include button_active; }
  }
}

.step-edited {
  .action-edit a { @include button_pushed; }
  .action-confirm a { @include button_blurred; }
}

.step-confirmed {
  .action-edit a { @include button_blurred; }
  .action-confirm a { @include button_pushed; }
}

.step-skipped {
  .action-skip a {
    @include button_general;
    @include button_pushed;
  }
  .action-edit a, .action-confirm a {
    @include button_blurred;
  }
}

.step-current.step-view {
  border: 3px solid #47697a;
  background: #e8eff2;
  .ico {
    background: asset-data-url('icon-modify-big.png') no-repeat;
    position: absolute;
    width: 68px;
    height: 50px;
    right: 20px;
    bottom: 30px;
  }
}

.step-confirmed, .step-edited, .step-skipped {
  .ico {
    background: asset-data-url('icon-success-big.png') no-repeat;
    position: absolute;
    width: 68px;
    height: 50px;
    right: 20px;
    bottom: 50px;
  }
  .help {
    color: #aaa;
    background-image: url('wizard-icon-help.png');
  }
}
