.step-gps {
  #map_canvas {
    border: 10px solid #fff;
  }

  #marker {
    cursor: pointer;
    margin: 40px 0 0 47px;
  }

  #suggestion_latitude_input, #suggestion_longitude_input {
    float: left;
    width: 170px;
  }

  input[type="text"][readonly] {
    color: #1e5d7d;
    font-size: 14px;
    border: 1px solid #346d8a;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 0 5px 1px rgba(30, 93, 125, 0.3);
    display: block;
    width: 100%;
    font-weight: 600;
    filter: none;
    padding-left: 0;
  }

  min-height: 300px;

  .map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    opacity: 0;
    z-index: 10000;
  }

  #map_canvas {
    width: 475px;
    height: 260px;
    opacity: 0.3;
    margin-top: 12px;
  }

  .marker-helper {
    background-color: white;
    padding: 10px;
  }

  &.step-edit #marker {
    display: none;
  }

  &.step-current {

    padding-bottom: 120px;

    .map-overlay {
      display: none !important;
    }
    #map_canvas {
      opacity: 1;
      height: 400px;
      width: 712px;
    }

    #mark_location {
      margin: 10px;
    }

    #suggestion_longitude_input, #suggestion_latitude_input {
      margin: 5px;
    }

    #suggestion_latitude_input {
      margin-bottom: 0px
    }

    #suggestion_longitude_input {
      margin-bottom: 0px
    }
  }

  &.step-skipped {
    padding-bottom: 100px;
    .action-back {
      padding-left: 129px !important;
    }
  }
  &.step-edited {
    .action-back {
      padding-left: 0px !important;
    }
  }
  .values {
    margin-bottom: 14px;
    float: left;
  }

  .actions {
    clear: right;
    padding: 0;

    &.actions-navbar {
      float: right;
      width: 172px;
      margin: 0;
      margin-top: 25px;
      height: 420px;
      background: #fff;
    }

    &.actions-done {
      background: transparent;
    }
  }

  #suggestion_latitude_input, #suggestion_longitude_input {
    label {
      text-transform: none;
    }
  }

  #suggestion_latitude, #suggestion_longitude {
    border-color: #737373;
    box-shadow: none;
    padding: 0 10px;
    width: 130px;
    font-size: 12px;
    &:focus {
      box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 0 5px 1px rgba(30, 93, 125, 0.3);
    }
  }
}