.step-simple {
  .action-submit a {
    float: right;
    margin: 3px 3px 0 0;
    @include gradient(#4b6d7e, #436576);
    color: #fff;
    border: 0;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    border-radius: 2px;
    padding: 7px 16px 7px 19px;
    text-decoration: none;
    position: absolute;
    top: -48px;
    left: 373px;
    &:hover { @extend %wizard-button-hover; }
  }

  &.step-done, &.step-edit {
    .action-skip a {
      cursor: default !important;
      text-decoration: none !important;
    }
  }

  .action-cancel a {
    font-size: 13px;
    color: #1e5d7d;
    position: absolute;
    top: -40px;
    left: 460px;
  }
}
