.step-place {
  #suggestion_place_id_input .input {
    margin: 10px 0;
  }

  .action-submit a {
    top: -38px;
    left: 323px;
  }
  .action-cancel a {
    top: -30px;
    left: 410px;
  }

  li.no-results a {
    margin: 3px 3px 0 0;
    @include gradient(#4b6d7e, #436576);
    color: #fff;
    border: 0;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    border-radius: 2px;
    padding: 4px 16px 4px 19px;
    text-decoration: none;
    &:hover {
      @include gradient(#437994, #2b607b);
    }
  }
}
