@import 'button_states';

.step-simple {
  .action-submit a {
    float: right;
    margin: 3px 3px 0 0;
    background: #4b6d7e; /* Old browsers */
    background: -moz-linear-gradient(top, #4b6d7e 0%, #436576 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4b6d7e), color-stop(100%, #436576)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4b6d7e 0%, #436576 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4b6d7e 0%, #436576 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4b6d7e 0%, #436576 100%); /* IE10+ */
    background: linear-gradient(top, #4b6d7e 0%, #436576 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#4b6d7e', endColorstr = '#436576', GradientType = 0); /* IE6-9 */
    color: #fff;
    border: 0;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 7px 16px 7px 19px;
    text-decoration: none;
    position: absolute;
    top: -48px;
    left: 373px;
    &:hover { @include button_hover }
  }

  &.step-done, &.step-edit {
    .action-skip a {
      cursor: default !important;
      text-decoration: none !important;
    }
  }

  .action-cancel a {
    font-size: 13px;
    color: #1e5d7d;
    position: absolute;
    top: -40px;
    left: 460px;
  }
}