%section.show.description
  %h2 Opis
  - if relic.description.present?
    = link_to 'uzupełnij', edit_section_relic_path(relic.id, :description), :title => 'edytuj opis zabytku', :remote => true, :class => "edit-relic-link"
    .content= sanitize relic.description
  - else
    .placeholder
      %p Napisz 3-4 zdania zawierające najważniejsze informacje o obiekcie.
      = link_to "dodaj opis", edit_section_relic_path(relic.id, :description), :remote => true
      .example
        %a.show-example{:href => image_path('screenshot-description.jpg'), :class => "fancybox"} Pokaż przykład