%section.show.description
  %h2 Opis
  - if relic.description.present?
    = link_to 'uzupełnij', edit_section_relic_path(relic.id, :description), :title => 'edytuj opis zabytku', :remote => true, :class => "edit-relic-link"
    .content= sanitize relic.description
  - else
    .placeholder
      %p Nikt nie napisał jeszcze opisu dla tego zabytku
      %p Zrób to Ty!
      = link_to "dodaj opis", edit_section_relic_path(relic.id, :description), :remote => true
      %a.show-example{:href => ""} Pokaż przykład