- if relic.is_group?
  %section.show.subrelics
    %h2= t('views.relics.show.subrelics.header1')
    .content
      %ul.subrelics-tree
        = render 'shared/tree', :node => relic.subtree.arrange
- elsif root = relic.ancestor_ids.first
  %section.show.subrelics
    %h2= t('views.relics.show.subrelics.header2')
    .content
      %ul.subrelics-tree
        = render 'shared/tree', :node => Relic.find(root).subtree.arrange