%section.show.alerts.add-alert-widget#widgets
  %h2= t('views.relics.show.widgets.header')
  .placeholder
    %p= t('views.relics.show.widgets.create_alert')
    %a.add-alert-widget-button{:href => '#widgets'}= t('views.relics.show.widgets.create_button')
