%section.show.alerts.add-alert-widget#widgets
  %h2 Widżety dla zabytku
  .placeholder
    %p Stwórz widżet „Dodaj alert” dla&nbsp;tego zabytku:
    %a.add-alert-widget-button{:href => '#widgets'} Stwórz widżet
