%section.new.alert
  %h2= t('views.alerts.iframe.created.header')
  .row
    = link_to t('views.alerts.iframe.created.show_alert'), relic_path(relic, :host => Settings.oz.host, :only_path => false), :anchor => 'anchor-alerts', :target => '_blank'