/*
 *= require vendor/select2
 *= require vendor/redactor
 *= require jquery.ui.tabs
 */

@import "active_admin/mixins";
@import "active_admin/base";

ins {
  color: green;
}

del {
  color: red;
}

nav ul {
  li {
    display: inline;
  }
}