/*
 *= require_self
 *= require jquery.ui.all
 *= require vendor/jquery.fancybox
 *= require vendor/redactor
 *= require vendor/select2
 *= require vendor/jcarousel-mini
 *= require vendor/jcarousel-midi
 *= require vendor/colorbox
 *= require vendor/cssmap-poland
*/

@import "application/mixins";
@import "application/reset";
@import "application/bootstrap";
@import "application/layout";
@import "application/static";
@import "application/user";
@import "application/profile";
@import "application/widgets";
@import "application/wizard";
@import "application/oz-navbar";
@import "application/oz-relics";
@import "application/oz-profile/oz-relic-profile";
@import "application/oz-profile/oz-relic-edit";
@import "application/oz-profile/oz-relic-location-edit";
@import "application/oz-profile/oz-relic-photo-edit";
@import "application/oz-profile/oz-alerts-new";
@import "application/oz-profile/oz-event-dates";
@import "application/oz-profile/oz-subrelics-show";
@import "application/oz-login-modal";
@import "application/oz-widgets";
@import "application/widgets/oz-walking-guide-new";



@import "responsor/awesomefonts/font-awesome";


.bootstrap-iso {
  @import "responsor/bootstrap";
}
// ng-cloak directive
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.js-remove-their-container {
  content: "remove";
}


i18n.on {
  background-color: red !important;
}

section.translation-edit {
  ul {
    display: block;
    overflow: hidden;
    li {
      line-height: 20px;
      float: left; margin-left: 5px;
      &.red {color: red; font-size: 16px;}
    }
  }
}

.fancybox-inner .main-container {width: 100%; height: 100%;}

.translation-mode {
  z-index: 10000;
  width: 30px; height: 30px;
  display: block; position: fixed; top: 0; right: 0;
  background-color: white; color: red;
  font-weight: bold;
  font-size: 30px;
  padding: 2px; text-align: center;
  border: 1px solid black;
  &.on {
    background-color: yellow;
  }
}

.under_construction {
  border-top: 1px solid gainsboro;
div {
  line-height: 22px;
  margin: 20px 0;
  font-size: 15px;
  font-weight: 600;
    &.news{
      text-align: center;
      margin: 40px 0;
    }
    &.newsletter{
      box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
      padding: 30px;
      text-align: center;
			.form-search{
				background: none;
				float: none;
				margin: 0;
				padding: 0;
				box-shadow: none;
				border: 0;
      	div{
	        padding: 3px 4px;
	        border: 1px solid #646464;
	        border-radius: 2px;
	        box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.3), 0 1px 1px 0 rgba(0,0,0,.1);
	        width: 424px;
	        background: #fff;
	        margin: 0 auto;
	        text-align: left;
	        display: inline-block;
	        margin-top: 15px;
	        .text{
	          padding: 0;
	          margin: 0;
	          border: 0;
	          height: 24px;
	          float: left;
	          width: 275px;
	          font-size: 14px;
	        }
	        .submit{
	          margin: 0;
	          padding-bottom: 5px;
	        }
	      }
			}
    }
  }
  h2 {
    margin: 30px 0 20px;
    font-size: 25px;
  }
  .about_top{
    margin-bottom: 0;
    font-size: 28px;
  }
  .content_more_about{
    margin-top: 0;
    font-weight: normal;
  }
}

#fancybox_loader_container {
  display: none;
  z-index: 2147483600 !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  #fancybox_loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    opacity: 0.5;
    background-color: black;
    border-radius: 10px;
  }
}

.columns-2 {
  @include clearfix();

  & > .column-1-of-2 {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding-left: 17px;

    &:first-child {
      padding-left: 0;
      padding-right: 18px;
    }
  }
}

#how_it_works {
  & + .popover {
    & > * {
      position: relative;
      top: -13px;
      left: 3px;
    }

    .popover-content p:last-child {
      margin-bottom: 0;
    }
  }
}

.downloads_left {
  width: 50%;
  float: left;
}

.downloads_right {
  width: 50%;
  float: right;
}

.downloads_clear {
  clear: both;
}
