@import "compass/layout";

$blue: #044d71;
$blue-hover: #006699;
$dark-grey: #313132;

@mixin backgroundnavy {
		background: #4b6d7e; /* Old browsers */
		background: -moz-linear-gradient(top, #4b6d7e 0%, #436576 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b6d7e), color-stop(100%,#436576)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #4b6d7e 0%,#436576 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #4b6d7e 0%,#436576 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #4b6d7e 0%,#436576 100%); /* IE10+ */
		background: linear-gradient(top, #4b6d7e 0%,#436576 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b6d7e', endColorstr='#436576',GradientType=0 ); /* IE6-9 */
		&:hover{
			background: #437994; /* Old browsers */
			background: -moz-linear-gradient(top, #437994 0%, #2b607b 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#437994), color-stop(100%,#2b607b)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #437994 0%,#2b607b 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #437994 0%,#2b607b 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #437994 0%,#2b607b 100%); /* IE10+ */
			background: linear-gradient(to bottom, #437994 0%,#2b607b 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#437994', endColorstr='#2b607b',GradientType=0 ); /* IE6-9 */
	}
}


body{
	background: #f5f5f5;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #313132;
}

body.big {
  zoom: 110%;
  -moz-transform: scale(1.1);
  -moz-transform-origin: 50% 0;
}

body.bigger {
  zoom: 120%;
  -moz-transform: scale(1.2);
  -moz-transform-origin: 50% 0;
}
.last{ margin-right:0 !important; }
a{
	color: $blue;
	text-decoration: none;
	&:hover{
		color: $blue-hover;
		text-decoration: underline;
	}
}

.container{
	margin: 0 auto;
	width: 960px;
  position: relative;
}

/* footer sticker */
@include sticky-footer(14px, "#root", "#root-footer", "#footer");

#header{
	height: 118px;
	h1{
		float: left;
		text-indent: -9999px;
		width: 316px;
		height: 81px;
		background: url('logo.png') no-repeat;
		margin-top: 32px;
		a{
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	nav{
    position: absolute;
    top: 17px;
    right: 2px;
		li{
      list-style-type: none;
			float: left;
			margin-left: 30px;
			a{
			  color: #313132;
			  text-shadow: 0 1px 0 #fff;
				text-decoration: none;
				font-weight: 600;
				line-height: 13px;
				padding-left: 20px;
				&:hover{
					color: $blue-hover;
				}
				&.login{
	        background: asset-data-url('icon-login.png') 0 4px no-repeat;
					&:hover{
		        background: asset-data-url('icon-login-hover.png') 0 4px no-repeat;
		      }
	      }
				&.logout{
	        background: asset-data-url('icon-logout.png') 0 4px no-repeat;
					&:hover{
		        background: asset-data-url('icon-logout-hover.png') 0 4px no-repeat;
		      }
	      }
	      &.register{
	        background: asset-data-url('icon-register.png') 0 4px no-repeat;
					&:hover{
		        background: asset-data-url('icon-register-hover.png') 0 4px no-repeat;
		      }
	      }
			}
		}
	}
	.cc_logo{
		float: right;
		width: 108px;
		height: 40px;
		background: asset-data-url('cc_logo.png') no-repeat;
		clear: right;
		margin-top: 55px;
	}
}

.form-search{
	float: right;
	margin: 13px 0 0 15px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #727272;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #fafafa 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top, #fafafa 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.1), inset 0 1px 3px 0 rgba(0,0,0,0.3);
  box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.1), inset 0 1px 3px 0 rgba(0,0,0,0.3);
	.control-group{
		float: left;
	}
	.search-query{
		background: asset-data-url('icon-search.png') 12px 50% no-repeat;
		border: 0;
		font-size: 13px;
		font-family: 'Open Sans', sans-serif;
		color: #313132;
		padding: 7px 7px 7px 40px;
		width: 160px;
		float: left;
		margin: 0;
		&:focus{
			outline: 0;
		}
	}
	.btn{
		float: right;
		margin: 3px 3px 0 0;
		background: #4b6d7e; /* Old browsers */
		background: -moz-linear-gradient(top, #4b6d7e 0%, #436576 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b6d7e), color-stop(100%,#436576)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #4b6d7e 0%,#436576 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #4b6d7e 0%,#436576 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #4b6d7e 0%,#436576 100%); /* IE10+ */
		background: linear-gradient(top, #4b6d7e 0%,#436576 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b6d7e', endColorstr='#436576',GradientType=0 ); /* IE6-9 */
		color: #fff;
		border: 0;
		font-size: 12px;
		font-weight: 600;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
		text-transform: uppercase;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		padding: 5px 16px 4px 19px;
		cursor: pointer;
		&:hover{
			background: #437994; /* Old browsers */
			background: -moz-linear-gradient(top, #437994 0%, #2b607b 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#437994), color-stop(100%,#2b607b)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #437994 0%,#2b607b 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #437994 0%,#2b607b 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #437994 0%,#2b607b 100%); /* IE10+ */
			background: linear-gradient(to bottom, #437994 0%,#2b607b 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#437994', endColorstr='#2b607b',GradientType=0 ); /* IE6-9 */
		}
	}
}

#menu{
	.container{
		border-top: 1px solid #dcdcdc;
		height: 60px;
	}
	nav{
		ul li{
			float: left;
			a{
				color: #313132;
				font-weight: 600;
				font-size: 15px;
				line-height: 60px;
				text-shadow: 0 1px 0 #fff;
				text-decoration: none;
				margin-right: 30px;
				padding-left: 20px;
				display: block;
				&:hover{
					color: $blue-hover;
				}
				&.about{
					padding-left: 29px;
					background: asset-data-url('icon-menu-about.png') 4px 18px no-repeat;
					margin-right: 42px;
					&:hover{
						background: asset-data-url('icon-menu-about-hover.png') 4px 18px no-repeat;
					}
				}
				&.help{
					background: asset-data-url('icon-menu-help.png') 0 23px no-repeat;
					&:hover{
						background: asset-data-url('icon-menu-help-hover.png') 0 23px no-repeat;
					}
				}
				&.contact{
					background: asset-data-url('icon-menu-contact.png') 0 24px no-repeat;
					&:hover{
						background: asset-data-url('icon-menu-contact-hover.png') 0 24px no-repeat;
					}
				}
				&.download{
					background: asset-data-url('icon-menu-download.png') 0 23px no-repeat;
					&:hover{
						background: asset-data-url('icon-menu-download-hover.png') 0 23px no-repeat;
					}
				}
			}
		}
	}
	.text{
		float: right;
		.plus{
			float: left;
			width: 25px;
			height: 15px;
			background: asset-data-url('icon-text-plus.png') no-repeat;
			margin-top: 23px;
      cursor: pointer;
		}
		.minus{
			float: left;
			width: 19px;
			height: 12px;
			background: asset-data-url('icon-text-minus.png') no-repeat;
			margin: 24px 0 0 15px;
      cursor: pointer;
		}
		.disabled {
      opacity: 0.5;
      cursor: default;
    }
	}
}

.span3, .span9{
	float: left;
}

#relics, #relic-edit{
	background: #fff;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
}

.span9 #relics{
	width: 720px;
}

#relic-edit{
	width: 960px;
}

.sidebar-nav{
	border-top: 1px solid #dcdcdc;
	width: 240px;
	h3{
		background: asset-data-url('icon-localisation.png') no-repeat;
		padding-left: 28px;
		margin: 20px 0;
		font-size: 16px;
		line-height: 18px;
	}
	.nav-list{
		margin-right: 10px;
		a, .selected p{
			font-weight: 600;
			padding: 7px 0 7px 30px;
			span{
				float: right;
				margin-top: -4px;
				padding: 5px;
				font-size: 12px;
				border-radius: 2px;
				-webkit-border-radius: 2px;
			}
		}
		a {
			color: #004b6c;
			background: asset-data-url('sidebar-bullet.png') 12px 50% no-repeat;
			display: block;
			span{
				background: #dce4e8;
				color: #236282;
			}
		}
		.selected {
			border-radius: 2px;
			-webkit-border-radius: 2px;
			background: #4b6d7e; /* Old browsers */
			background: -moz-linear-gradient(top, #4b6d7e 0%, #436576 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b6d7e), color-stop(100%,#436576)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #4b6d7e 0%,#436576 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #4b6d7e 0%,#436576 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #4b6d7e 0%,#436576 100%); /* IE10+ */
			background: linear-gradient(top, #4b6d7e 0%,#436576 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b6d7e', endColorstr='#436576',GradientType=0 ); /* IE6-9 */
			selected: #fff;
			span{
				color: #fff;
				background: none;
			}
			p{
				background: asset-data-url('sidebar-bullet-selected.png') 12px 50% no-repeat;
			}
			a { color: #fff;}
		}
		ul{
			margin-left: 10px;
			li{
				margin: 1px 0;
			}
		}
	}
	.all {
		a {
			padding: 7px 0 7px 0px;
			background: none;
		}
	}
}

.page-header{
	position: relative;
	h1{
		background: #4b6d7e; /* Old browsers */
		background: -moz-linear-gradient(top, #4b6d7e 0%, #436576 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b6d7e), color-stop(100%,#436576)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #4b6d7e 0%,#436576 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #4b6d7e 0%,#436576 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #4b6d7e 0%,#436576 100%); /* IE10+ */
		background: linear-gradient(top, #4b6d7e 0%,#436576 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b6d7e', endColorstr='#436576',GradientType=0 ); /* IE6-9 */
		font-weight: 600;
		font-size: 24px;
		padding: 20px 30px 15px;
		line-height: 24px;
		color: #fff;
		text-shadow: 0 1px 1px rgba(0,0,0,0.2);
		span{
			display: block;
			font-size: 13px;
			padding-left: 29px;
		}
	}
    h2{
      position: absolute;
      top: 35px;
      right: 30px;

      a {
        font-weight: 600;
        font-size: 13px;
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,0.2);
      }

    }
	.arrow{
		border-color: #436576 transparent;
		border-style: solid;
		border-width: 7px 7px 0px 7px;
		height: 0px;
		width: 0px;
		position: absolute;
		left: 31px;
		bottom: -7px;
		z-index: 2;
	}
}

.relic-header{
	background: #f7f7f7;
	border-bottom: 1px solid #ccc;
	padding: 30px 30px 23px 30px;
	h2{
		background: asset-data-url('relic_unmodified.png') 0 1px no-repeat;
		padding-left: 30px;
		font-size: 20px;
		font-weight: 400;
		&.changed{
			background: asset-data-url('relic_modified.png') 0 1px no-repeat;
		}
	}
	.breadcrumb{
		margin-left: 30px;
		padding-top: 10px;
		p{
			font-weight: 600;
			float: left;
		}
		ul{
			display: inline-block;
			li{
				float: left;
				margin-left: 7px;
				a{
					color: #024c6b;
					text-decoration: underline;
				}
				span{
					color: #313132;
					margin-left: 4px;
				}
			}
		}
	}
}

.relic{
	background: #fff;
	border-bottom: 1px solid #e5e5e5;
	padding: 15px 150px 20px 30px;
	position: relative;
	line-height: 18px;
	.name{
		font-size: 16px;
		font-weight: 600;
		color: $blue;
		padding-bottom: 6px;
	}
	.change{
		background: #4b6d7e; /* Old browsers */
		background: -moz-linear-gradient(top, #4b6d7e 0%, #436576 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b6d7e), color-stop(100%,#436576)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #4b6d7e 0%,#436576 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #4b6d7e 0%,#436576 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #4b6d7e 0%,#436576 100%); /* IE10+ */
		background: linear-gradient(top, #4b6d7e 0%,#436576 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b6d7e', endColorstr='#436576',GradientType=0 ); /* IE6-9 */
		color: #fff;
		border: 0;
		font-size: 12px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
		text-transform: uppercase;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		padding: 5px 12px 4px 11px;
		cursor: pointer;
		float: right;
		position: absolute;
		right: 30px;
		top: 20px;
		&:hover{
			background: #437994; /* Old browsers */
			background: -moz-linear-gradient(top, #437994 0%, #2b607b 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#437994), color-stop(100%,#2b607b)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #437994 0%,#2b607b 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #437994 0%,#2b607b 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #437994 0%,#2b607b 100%); /* IE10+ */
			background: linear-gradient(to bottom, #437994 0%,#2b607b 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#437994', endColorstr='#2b607b',GradientType=0 ); /* IE6-9 */
		}
		a{
			background: asset-data-url('ico-success.png') no-repeat;
			color: #fff;
			text-decoration: none;
			padding-left: 25px;
		}
	}
	.modified{
		position: absolute;
		top: 40px;
		right: 45px;
		width: 34px;
		height: 26px;
		background: asset-data-url('relic-modified-big.png') no-repeat;
	}
	.include{
		color: $blue;
		font-weight: 600;
		margin-top: 6px;
		padding-left: 5px;
		span{
			float: left;
			width: 5px;
			height: 17px;
			background: $blue;
			margin-right: 10px;
		}
	}
}

.pagination{
	padding: 50px 30px;
	ul{
		text-align: center;
		li{
			display: inline-block;
			a{
				font-size: 14px;
				padding: 1px 7px;
			}
			&.active a {
				background-color: rgb(95,96,98);
				color: rgb(255,255,255);
			}
		}
	}
}

.steps{
	background: #e8eef1;
	.step {
        border-radius: 3px;
		-webkit-border-radius: 3px;
		border: 3px solid #fff;
		background: #eee;
		padding: 25px 25px 40px 25px;
		margin-bottom: 1px;
		.ico{
			width: 58px;
			height: 13px;
			position: absolute;
			background: asset-data-url('icon-waiting-big.png') no-repeat;
			right: 25px;
			bottom: 17px;
		}

		input[readonly]{
			background: none;
			border: 0;
			box-shadow: none;
			color: $blue;
			display: block;
			width: 100%;
			font-weight: 600;
			filter: none;
			padding-left: 0;
		}
		input{
			color: #1e5d7d;
			font-size: 14px;
			border: 1px solid #346d8a;
			border-radius: 2px;
			-webkit-border-radius: 2px;
			box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.3), 0 0 5px 1px rgba(30,93,125,0.3);
			height: 32px;
			padding: 0 70px 0 10px;
			margin: 10px 0 15px;
			background: #fafafa; /* Old browsers */
			background: -moz-linear-gradient(top, #fafafa 0%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #fafafa 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #fafafa 0%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #fafafa 0%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(top, #fafafa 0%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
			width: 370px;
			&:focus{
				outline: 0;
			}
		}
		label{
			font-size: 13px;
			text-transform: uppercase;
		}
		.hidden{
			display: none;
		}
		h3{
			font-weight: 400;
			font-size: 16px;
		}
		&.step-tags, &.step-gps {
			h3{
				font-size: 13px;
				text-transform: uppercase;
                margin-bottom: 20px;
                clear: both;
			}
			p{
				font-size: 16px;
				padding: 10px 0;
			}

            li.choice {
              span { font-size: 14px; cursor: pointer; }
              input:checked + span {
                font-weight: bold;
              }
            }

			&.step-edited{
				.actions.actions-done .action-back{
					padding-left: 0;
				}
			}
			&.step-skipped{
				.actions.actions-done .action-back{
					padding-left: 156px;
				}
			}
			.action-submit{
				float: left;
				a{
					color: #fff;
					text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
					text-decoration: none;
					font-size: 14px;
					padding: 8px 20px;
					margin-right: 25px;
					font-weight: 600;
					background: rgb(120,145,159); /* Old browsers */
					background: -moz-linear-gradient(top, rgba(120,145,159,1) 0%, rgba(95,121,135,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(120,145,159,1)), color-stop(100%,rgba(95,121,135,1))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* IE10+ */
					background: linear-gradient(to bottom, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78919f', endColorstr='#5f7987',GradientType=0 ); /* IE6-9 */
					box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), inset 0 -1px 2px 0 rgba(0,0,0,0.3);
					border-radius: 2px;
					-webkit-border-radius: 2px;
					position: static;
					float: none;
					text-transform: none;
					&:hover{
						background: rgb(67,125,155); /* Old browsers */
						background: -moz-linear-gradient(top, rgba(67,125,155,1) 0%, rgba(37,94,124,1) 100%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(67,125,155,1)), color-stop(100%,rgba(37,94,124,1))); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(top, rgba(67,125,155,1) 0%,rgba(37,94,124,1) 100%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(top, rgba(67,125,155,1) 0%,rgba(37,94,124,1) 100%); /* Opera 11.10+ */
						background: -ms-linear-gradient(top, rgba(67,125,155,1) 0%,rgba(37,94,124,1) 100%); /* IE10+ */
						background: linear-gradient(to bottom, rgba(67,125,155,1) 0%,rgba(37,94,124,1) 100%); /* W3C */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#437d9b', endColorstr='#255e7c',GradientType=0 ); /* IE6-9 */
					}
					&:active{
						background: rgb(36,94,124); /* Old browsers */
						background: -moz-linear-gradient(top, rgba(36,94,124,1) 0%, rgba(67,125,154,1) 100%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(36,94,124,1)), color-stop(100%,rgba(67,125,154,1))); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(top, rgba(36,94,124,1) 0%,rgba(67,125,154,1) 100%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(top, rgba(36,94,124,1) 0%,rgba(67,125,154,1) 100%); /* Opera 11.10+ */
						background: -ms-linear-gradient(top, rgba(36,94,124,1) 0%,rgba(67,125,154,1) 100%); /* IE10+ */
						background: linear-gradient(to bottom, rgba(36,94,124,1) 0%,rgba(67,125,154,1) 100%); /* W3C */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#245e7c', endColorstr='#437d9a',GradientType=0 ); /* IE6-9 */
					}
				}
			}

            &.step-edited {
              .action-submit a {
                color: #fff;
                text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
                text-decoration: none;
                font-size: 14px;
                padding: 8px 20px;
                margin-right: 25px;
                font-weight: 600;
                background: rgb(120,145,159); /* Old browsers */
                background: -moz-linear-gradient(top, rgba(120,145,159,1) 0%, rgba(95,121,135,1) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(120,145,159,1)), color-stop(100%,rgba(95,121,135,1))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* IE10+ */
                background: linear-gradient(to bottom, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78919f', endColorstr='#5f7987',GradientType=0 ); /* IE6-9 */
                box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), inset 0 -1px 2px 0 rgba(0,0,0,0.3);
                border-radius: 2px;
                -webkit-border-radius: 2px;
                opacity: .3;
              }
              .action-edit a {
                background: rgb(28,45,54); /* Old browsers */
                background: -moz-linear-gradient(top, rgba(28,45,54,1) 0%, rgba(78,95,104,1) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28,45,54,1)), color-stop(100%,rgba(78,95,104,1))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* IE10+ */
                background: linear-gradient(to bottom, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2d36', endColorstr='#4e5f68',GradientType=0 ); /* IE6-9 */
                font-weight: 700;
                opacity: 1;
              }
            }

            &.step-skipped {
              .action-submit a {
                color: #fff;
                text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
                text-decoration: none;
                font-size: 14px;
                padding: 8px 20px;
                margin-right: 25px;
                font-weight: 600;
                background: rgb(120,145,159); /* Old browsers */
                background: -moz-linear-gradient(top, rgba(120,145,159,1) 0%, rgba(95,121,135,1) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(120,145,159,1)), color-stop(100%,rgba(95,121,135,1))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* IE10+ */
                background: linear-gradient(to bottom, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78919f', endColorstr='#5f7987',GradientType=0 ); /* IE6-9 */
                box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), inset 0 -1px 2px 0 rgba(0,0,0,0.3);
                border-radius: 2px;
                -webkit-border-radius: 2px;
                opacity: .3;
              }
              .action-skip a {
                background: rgb(28,45,54); /* Old browsers */
                background: -moz-linear-gradient(top, rgba(28,45,54,1) 0%, rgba(78,95,104,1) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28,45,54,1)), color-stop(100%,rgba(78,95,104,1))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* IE10+ */
                background: linear-gradient(to bottom, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2d36', endColorstr='#4e5f68',GradientType=0 ); /* IE6-9 */
                font-weight: 700;
                opacity: 1;
              }
            }
		}
		&.step-simple {
          .action-submit a {
            float: right;
            margin: 3px 3px 0 0;
            background: #4b6d7e; /* Old browsers */
            background: -moz-linear-gradient(top, #4b6d7e 0%, #436576 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b6d7e), color-stop(100%,#436576)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #4b6d7e 0%,#436576 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #4b6d7e 0%,#436576 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #4b6d7e 0%,#436576 100%); /* IE10+ */
            background: linear-gradient(top, #4b6d7e 0%,#436576 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b6d7e', endColorstr='#436576',GradientType=0 ); /* IE6-9 */
            color: #fff;
            border: 0;
            font-size: 12px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
            text-transform: uppercase;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            padding: 7px 16px 7px 19px;
            text-decoration: none;
            position: absolute;
            top: -48px;
            left: 373px;
            &:hover{
              background: #437994; /* Old browsers */
              background: -moz-linear-gradient(top, #437994 0%, #2b607b 100%); /* FF3.6+ */
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#437994), color-stop(100%,#2b607b)); /* Chrome,Safari4+ */
              background: -webkit-linear-gradient(top, #437994 0%,#2b607b 100%); /* Chrome10+,Safari5.1+ */
              background: -o-linear-gradient(top, #437994 0%,#2b607b 100%); /* Opera 11.10+ */
              background: -ms-linear-gradient(top, #437994 0%,#2b607b 100%); /* IE10+ */
              background: linear-gradient(to bottom, #437994 0%,#2b607b 100%); /* W3C */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#437994', endColorstr='#2b607b',GradientType=0 ); /* IE6-9 */
            }
          }
        }
		.action-cancel a{
			font-size: 13px;
			color: #1e5d7d;
			position: absolute;
			top: -40px;
			left: 460px;
		}
		.actions{
			h3{
				margin-bottom: 20px;
			}
		}
		.action-edit, .action-confirm, .action-skip {
			display: inline-block;
			a{
				color: #fff;
				text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
				text-decoration: none;
				font-size: 14px;
				padding: 8px 20px;
				margin-right: 25px;
				font-weight: 600;
				background: rgb(120,145,159); /* Old browsers */
				background: -moz-linear-gradient(top, rgba(120,145,159,1) 0%, rgba(95,121,135,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(120,145,159,1)), color-stop(100%,rgba(95,121,135,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78919f', endColorstr='#5f7987',GradientType=0 ); /* IE6-9 */
				box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), inset 0 -1px 2px 0 rgba(0,0,0,0.3);
				border-radius: 2px;
				-webkit-border-radius: 2px;
				&:hover{
					background: rgb(67,125,155); /* Old browsers */
					background: -moz-linear-gradient(top, rgba(67,125,155,1) 0%, rgba(37,94,124,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(67,125,155,1)), color-stop(100%,rgba(37,94,124,1))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, rgba(67,125,155,1) 0%,rgba(37,94,124,1) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, rgba(67,125,155,1) 0%,rgba(37,94,124,1) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, rgba(67,125,155,1) 0%,rgba(37,94,124,1) 100%); /* IE10+ */
					background: linear-gradient(to bottom, rgba(67,125,155,1) 0%,rgba(37,94,124,1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#437d9b', endColorstr='#255e7c',GradientType=0 ); /* IE6-9 */
				}
				&:active{
					background: rgb(36,94,124); /* Old browsers */
					background: -moz-linear-gradient(top, rgba(36,94,124,1) 0%, rgba(67,125,154,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(36,94,124,1)), color-stop(100%,rgba(67,125,154,1))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, rgba(36,94,124,1) 0%,rgba(67,125,154,1) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, rgba(36,94,124,1) 0%,rgba(67,125,154,1) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, rgba(36,94,124,1) 0%,rgba(67,125,154,1) 100%); /* IE10+ */
					background: linear-gradient(to bottom, rgba(36,94,124,1) 0%,rgba(67,125,154,1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#245e7c', endColorstr='#437d9a',GradientType=0 ); /* IE6-9 */
				}
			}
		}

		.action-back{
          margin-top: 20px;
          font-size: 16px;
          a {
            color: #1e5d7d;
            font-weight: bold;
          }
		}
		&.step-submit.step-current{
          border: 0;
          background: #fff;
          margin: 0;
          padding: 25px 0;
          .actions-view{
            text-align: center;
            h2{
                font-size: 20px;
                margin: 45px 0;
                font-weight: 400;
            }
            input{
              text-indent: -9999px;
              border: 0;
              width: 421px;
              height: 60px;
              background: asset-data-url('wizard-confirm.png') no-repeat;
              cursor: pointer;
            }
          }
		}
		&.step-current{
          border: 3px solid #47697a;
			background: #e8eff2;
			.ico{
              background: asset-data-url('icon-modify-big.png') no-repeat;
              position: absolute;
              width: 68px;
              height: 50px;
              right: 20px;
              bottom: 30px;
			}
		}
        &.step-place {
          #suggestion_place_id_input .input {
            margin: 10px 0;
          }

          .action-submit a {
            top: -38px;
            left: 323px;
          }
          .action-cancel a {
            top: -30px;
            left: 410px;
          }
        }
        &.step-gps {
            min-height: 300px;

			#map_canvas{
              width: 475px;
              height: 260px;
              opacity: 0.3;
	  		  margin-top: 12px;
			}

            .marker-helper {
              background-color: white;
              padding: 10px;
            }

            &.step-edit #marker {
              display: none;
            }

			&.step-current{

              padding-bottom: 120px;
              #map_canvas{
                  opacity: 1;
                  height: 400px;
                  width:712px;
              }

              &.step-view .action-submit a{
                color: #fff;
                text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
                text-decoration: none;
                font-size: 14px;
                padding: 8px 20px;
                margin-right: 25px;
                font-weight: 600;
                background: rgb(120,145,159); /* Old browsers */
                background: -moz-linear-gradient(top, rgba(120,145,159,1) 0%, rgba(95,121,135,1) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(120,145,159,1)), color-stop(100%,rgba(95,121,135,1))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* IE10+ */
                background: linear-gradient(to bottom, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78919f', endColorstr='#5f7987',GradientType=0 ); /* IE6-9 */
                box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), inset 0 -1px 2px 0 rgba(0,0,0,0.3);
                border-radius: 2px;
                -webkit-border-radius: 2px;
                opacity: .3;
              }

			}
			&.step-skipped{
				padding-bottom: 100px;
                .action-back {
                  padding-left: 346px !important;
                }
			}
            &.step-edited {
              .action-back {
                padding-left: 0px !important;
              }
            }
            .values {
              margin-bottom: 14px;
              float: left;
            }

            .actions {
              clear: right;
              padding: 0;

              &.actions-navbar {
                float: right;
                width: 172px;
                margin: 0;
                margin-top: 7px;
                height: 420px;
                background: #fff;
              }

              &.actions-done{
                background: transparent;
              }
            }


		}

		&.step-edit{
			.action-edit a{
				background: rgb(28,45,54); /* Old browsers */
				background: -moz-linear-gradient(top, rgba(28,45,54,1) 0%, rgba(78,95,104,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28,45,54,1)), color-stop(100%,rgba(78,95,104,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2d36', endColorstr='#4e5f68',GradientType=0 ); /* IE6-9 */
			}
		}
		&.step-confirmed, &.step-edited, &.step-skipped{
			.ico{
				background: asset-data-url('icon-success-big.png') no-repeat;
				position: absolute;
				width: 68px;
				height: 50px;
				right: 20px;
        bottom: 50px;
			}
      .help {
        color: #aaa;
        background-image: url('wizard-icon-help.png');
      }
		}

		&.step-simple.step-edited, &.step-simple.step-edit {
          .action-confirm a, .action-skip a{
            color: #fff;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
            text-decoration: none;
            font-size: 14px;
            padding: 8px 20px;
            margin-right: 25px;
            font-weight: 600;
            background: rgb(120,145,159); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(120,145,159,1) 0%, rgba(95,121,135,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(120,145,159,1)), color-stop(100%,rgba(95,121,135,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78919f', endColorstr='#5f7987',GradientType=0 ); /* IE6-9 */
            box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), inset 0 -1px 2px 0 rgba(0,0,0,0.3);
            border-radius: 2px;
            -webkit-border-radius: 2px;
            opacity: .3;
          }
          .action-edit a {
            background: rgb(28,45,54); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(28,45,54,1) 0%, rgba(78,95,104,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28,45,54,1)), color-stop(100%,rgba(78,95,104,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2d36', endColorstr='#4e5f68',GradientType=0 ); /* IE6-9 */
            font-weight: 700;
            opacity: 1;
          }
        }

        &.step-edited {
          .action-back{
            padding-left: 200px;
          }
          .action-back-short {
            padding-left: 0px;
          }
          &.actions-done{
              .action-edit a{
                background: rgb(28,45,54); /* Old browsers */
                  background: -moz-linear-gradient(top, rgba(28,45,54,1) 0%, rgba(78,95,104,1) 100%); /* FF3.6+ */
                  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28,45,54,1)), color-stop(100%,rgba(78,95,104,1))); /* Chrome,Safari4+ */
                  background: -webkit-linear-gradient(top, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* Chrome10+,Safari5.1+ */
                  background: -o-linear-gradient(top, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* Opera 11.10+ */
                  background: -ms-linear-gradient(top, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* IE10+ */
                  background: linear-gradient(to bottom, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* W3C */
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2d36', endColorstr='#4e5f68',GradientType=0 ); /* IE6-9 */
                  font-weight: 700;
                  opacity: 1;
              }
              .action-confirm a, .action-skip a{
                  color: #fff;
                  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
                  text-decoration: none;
                  font-size: 14px;
                  padding: 8px 20px;
                  margin-right: 25px;
                  font-weight: 600;
                  background: rgb(120,145,159); /* Old browsers */
                  background: -moz-linear-gradient(top, rgba(120,145,159,1) 0%, rgba(95,121,135,1) 100%); /* FF3.6+ */
                  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(120,145,159,1)), color-stop(100%,rgba(95,121,135,1))); /* Chrome,Safari4+ */
                  background: -webkit-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* Chrome10+,Safari5.1+ */
                  background: -o-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* Opera 11.10+ */
                  background: -ms-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* IE10+ */
                  background: linear-gradient(to bottom, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* W3C */
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78919f', endColorstr='#5f7987',GradientType=0 ); /* IE6-9 */
                  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), inset 0 -1px 2px 0 rgba(0,0,0,0.3);
                  border-radius: 2px;
                  -webkit-border-radius: 2px;
                  opacity: .3;
              }
              .action-back{
                  padding-left: 198px;
              }
          }
		}
		&.step-confirmed{
          .action-edit a, .action-skip a{
              color: #fff;
              text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
              text-decoration: none;
              font-size: 14px;
              padding: 8px 20px;
              margin-right: 25px;
              font-weight: 600;
              background: rgb(120,145,159); /* Old browsers */
              background: -moz-linear-gradient(top, rgba(120,145,159,1) 0%, rgba(95,121,135,1) 100%); /* FF3.6+ */
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(120,145,159,1)), color-stop(100%,rgba(95,121,135,1))); /* Chrome,Safari4+ */
              background: -webkit-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* Chrome10+,Safari5.1+ */
              background: -o-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* Opera 11.10+ */
              background: -ms-linear-gradient(top, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* IE10+ */
              background: linear-gradient(to bottom, rgba(120,145,159,1) 0%,rgba(95,121,135,1) 100%); /* W3C */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78919f', endColorstr='#5f7987',GradientType=0 ); /* IE6-9 */
              box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), inset 0 -1px 2px 0 rgba(0,0,0,0.3);
              border-radius: 2px;
              -webkit-border-radius: 2px;
              opacity: .3;
          }
          .action-confirm a{
            background: rgb(28,45,54); /* Old browsers */
              background: -moz-linear-gradient(top, rgba(28,45,54,1) 0%, rgba(78,95,104,1) 100%); /* FF3.6+ */
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28,45,54,1)), color-stop(100%,rgba(78,95,104,1))); /* Chrome,Safari4+ */
              background: -webkit-linear-gradient(top, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* Chrome10+,Safari5.1+ */
              background: -o-linear-gradient(top, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* Opera 11.10+ */
              background: -ms-linear-gradient(top, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* IE10+ */
              background: linear-gradient(to bottom, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* W3C */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2d36', endColorstr='#4e5f68',GradientType=0 ); /* IE6-9 */
              font-weight: 700;
              opacity: 1;
          }
		}
		&.step-skipped{
			.action-skip a{
				background: rgb(28,45,54); /* Old browsers */
				background: -moz-linear-gradient(top, rgba(28,45,54,1) 0%, rgba(78,95,104,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28,45,54,1)), color-stop(100%,rgba(78,95,104,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom, rgba(28,45,54,1) 0%,rgba(78,95,104,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2d36', endColorstr='#4e5f68',GradientType=0 ); /* IE6-9 */
				font-weight: 700;
			}
			.action-edit a, .action-confirm a{
				opacity: .3;
			}
			.action-back{
				padding-left: 412px;
			}
            .action-back-short {
                padding-left: 243px;
            }

            &.step-date {
              .action-back-short {
                padding-left: 233px;
              }
            }
		}
		#suggestion_latitude_input, #suggestion_longitude_input{
			label{
				text-transform: none;
			}
		}
		#suggestion_latitude, #suggestion_longitude{
			border-color: #737373;
			box-shadow: none;
			padding: 0 10px;
			width: 130px;
			font-size: 12px;
			&:focus{
				box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 0 5px 1px rgba(30, 93, 125, 0.3);
			}
		}

        li.no-results a {
          margin: 3px 3px 0 0;
          background: #4b6d7e; /* Old browsers */
          background: -moz-linear-gradient(top, #4b6d7e 0%, #436576 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b6d7e), color-stop(100%,#436576)); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #4b6d7e 0%,#436576 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, #4b6d7e 0%,#436576 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top, #4b6d7e 0%,#436576 100%); /* IE10+ */
          background: linear-gradient(top, #4b6d7e 0%,#436576 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b6d7e', endColorstr='#436576',GradientType=0 ); /* IE6-9 */
          color: #fff;
          border: 0;
          font-size: 10px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
          text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
          text-transform: uppercase;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          padding: 4px 16px 4px 19px;
          text-decoration: none;
          &:hover{
            background: #437994; /* Old browsers */
            background: -moz-linear-gradient(top, #437994 0%, #2b607b 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#437994), color-stop(100%,#2b607b)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #437994 0%,#2b607b 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #437994 0%,#2b607b 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #437994 0%,#2b607b 100%); /* IE10+ */
            background: linear-gradient(to bottom, #437994 0%,#2b607b 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#437994', endColorstr='#2b607b',GradientType=0 ); /* IE6-9 */
          }
        }
    }
}
.steps{
	.step{
		.column{

			display: inline-block;
			vertical-align: top;
			font-size: 13px;
			margin-top: 10px;
			input{
				width: auto;
				margin: 0 3px 5px 0;
				padding: 0;
				height: auto;
			}
			label{
				text-transform: none;
				font-size: 16px;
			}
		}

        .column-first {
          width: 240px;
        }

        .column-second {
          width: 300px;
        }

        .column-third {
          width: 200px;
        }
	}
}

.resource_home{
	.page{
		#menu{
			#new_relic{
				display: none;
			}
		}
		#main{
			> .container{
				width: 100%;
				.span9{
					float: none;
				}
				.top{
					background: asset-data-url('top_bg.png') repeat-x;
					.container{
						background: asset-data-url('top_container_bg.png') repeat-x;
					}
					.more{
						float: left;
						width: 480px;
						h2{
							margin: 40px 0 20px;
							font-size: 26px;
							font-weight: 600;
							text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
							text-transform: uppercase;
							color: #f5f5f5;
						}
						p{
							font-size: 18px;
							color: #f5f5f5;
							line-height: 30px;
						}
					}
					#tabs{
						margin-left: 480px;
						&.ui-tabs{
							padding: 0;
							&.ui-widget-content, .ui-widget-header{
								background: none;
								border: 0;
							}
							.ui-tabs-nav{
								float: right;
								li{
									float: none;
									a{
										float: none;
										padding: 0;
									}
								}
							}
							.ui-tabs-panel{
								iframe{
									border: 4px solid #698796;
									box-shadow: 0 5px 30px 0 rgba(0,0,0,0.2);
								}
							}
						}
					}
					.step1{
						margin: 30px;
						background: asset-data-url('form-search-bg.png') no-repeat;
						padding: 35px 135px;
						display: inline-block;
						h3{
							color: #46687a;
							font-weight: 600;
							font-size: 22px;
							text-transform: uppercase;
							span{
								color: $dark-grey;
								text-transform: none;
							}
						}
						p{
							font-style: italic;
							font-weight: 600;
							margin: 5px 0 15px;
							&.examples{
								font-weight: 400;
								font-style: normal;
								a{
									font-weight: 600;
									text-decoration: underline;
								}
							}
						}
						.form-search{
							float: left;
							margin-left: 0;
							margin-bottom: 15px;
							.search-query{
								width: 465px;
								font-size: 16px;
								padding: 11px 7px 11px 40px;
							}
							.btn{
								font-size: 16px;
								padding: 9px 16px 7px 19px;
							}
						}
					}
				}
			}
		}
	}
}

.ui-menu{
	padding: 0;
	font-family: 'Open Sans';
	background: rgb(245,245,245); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(245,245,245,0.9) 0%, rgba(233,233,233,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,0.9)), color-stop(100%,rgba(233,233,233,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(245,245,245,0.9) 0%,rgba(233,233,233,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(245,245,245,0.9) 0%,rgba(233,233,233,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(245,245,245,0.9) 0%,rgba(233,233,233,0.9) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(245,245,245,0.9) 0%,rgba(233,233,233,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */
	&.ui-corner-all{
		-webkit-border-radius: 0px;
		border-radius: 0px;
	}
	.ui-menu-item{
		a{
			font-size: 13px;
			padding: 10px;
			background: asset-data-url('autocomplete-border.png') left bottom repeat-x;
		}
		.ui-state-hover{
			background: #4f6f80; /* Old browsers */
			background: -moz-linear-gradient(top, #4f6f80 0%, #3c5968 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f6f80), color-stop(100%,#3c5968)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #4f6f80 0%,#3c5968 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #4f6f80 0%,#3c5968 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #4f6f80 0%,#3c5968 100%); /* IE10+ */
			background: linear-gradient(to bottom, #4f6f80 0%,#3c5968 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f6f80', endColorstr='#3c5968',GradientType=0 ); /* IE6-9 */
			-webkit-border-radius: 0px;
			border-radius: 0px;
			color: #fafafa;
			text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
			font-size: 13px;
		}
	}
}

.marker-helper{
	h4{
		text-align: center;
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
	}
	.marker-holder{
		background: asset-data-url('marker-helper.png') center center no-repeat;
		margin: 20px auto;
		width: 118px;
		height: 118px;
	}
}

.help-content{
	.help{
      display: none;
      float: right;
      font-size: 12px;
      color: #B6B6B6;
      font-weight: 600;
      position: relative;
      top: -13px;
      padding-left: 26px;
      background: asset-data-url('wizard-icon-help.png') no-repeat;
      line-height: 18px;
	}
	.help-extended{
        display: none;
		.close{
			float: right;
		}
	}
}

.step-current .help-content {
  &.active {
    padding: 0;
    margin: -25px -25px 0 -25px;
    .help { display: none; }
    .help-extended { display: block; }
  }
  .help {
    display: block;
    cursor: pointer;
  }
  .help-extended {
      padding: 25px;
      margin-bottom: 20px;
      background: #f4f7f9;
      border-bottom: 1px dashed #47697a;
      .close {
        float: right;
        font-size: 12px;
        color: #0c4e6e ;
        font-weight: 600;
        padding-left: 26px;
        background: asset-data-url('wizard-icon-help-selected.png') no-repeat;
        line-height: 18px;
        cursor: pointer;
        position: relative;
      }
      p {
          font-size: 13px;
          color: #08374d;
          line-height: 20px;
          padding-right: 140px;
          margin: 0;
      }
  }
}

.subrelics{
	> h3{
		font-size: 20px;
		color: #5f6062;
		padding: 30px 30px 30px 60px;
		background: #fff asset-data-url('subrelics.png') 30px 31px no-repeat;
		margin-bottom: 1px;
	}
}

.search-no-results {
	background: image-url('no-results-bg.png') no-repeat top left;
	height: 300px;
	padding-top: 80px;
	border-bottom: 1px solid #ccc;
	p {
		font-size: 20px;
		line-height: 30px;
		padding: 20px;
		text-align: center;

		strong {
			font-weight: bold;
		}
		a span {
			font-size: 16px;
		}
	}
}

.thank_you {
  .row {
    background: #fff;
    border: 1px solid #e5e5e5;
  }
  .opening {
    border-bottom: 1px solid #e5e5e5;
  }
  .thankyou_love {
    background: #389c19;
    text-align: center;
    color: #fff;
    padding: 30px;
    h2 {
      font-size: 28px;
      text-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.2);
    }
    #heart {
      font-size: 30px;
      margin: 12px 0;
    }
    h3 {
      font-size: 18px;
      text-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.2);
      font-weight: 100;
    }
  }
  .thankyou_notes {
    padding-bottom: 28px;
    p.info {
      background: url('icon-info.png') 0 50% no-repeat;
      width: 455px;
      height: 30px;
      line-height: 30px;
      margin: 20px auto;
      padding-left: 23px;
      font-size: 12px;
    }
    #share {
      display: block;
      background: url('icon-facebook.png') 0 50% no-repeat;
      width: 320px;
      padding-left: 32px;
      height: 30px;
      line-height: 30px;
      margin: auto;
      font-size: 15px;
      font-weight: 600;
    }
  }
  .thankyou_dorelics {
    text-align: center;
  }
  #thankyou_actions {
    margin: 22px 0;
  }
  #thankyou_next {
    text-align: left;
    display: block;
		margin: 3px auto 10px;;
		color: #fff;
		border: 0;
		font-size: 12px;
    text-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.2);
		-webkit-border-radius: 2px;
		border-radius: 2px;
		padding: 10px 10px 10px 15px;
		cursor: pointer;
    @include backgroundnavy;
    width: 350px;
    div {
      background: url('icon-forward.png') 100% 50% no-repeat;
    }
    span {
      color: #c3d9e4;
      font-size: 13px;
      display: block;
      margin-bottom: 5px;
    }
    strong {
      font-size: 14px;
      font-weight: 400;
      display: block;
      padding-right: 40px;
    }
    &:hover{
      text-decoration: none;
    }
  }
  #thankyou_results span {
    display: block;
    margin: 10px 0;
  }
  #thankyou_results strong {
    font-weight: 600;
  }
}

#footer {
  color: #878787;
  font-size: 11px;
  .about {
    float: left;
    margin-right: 18px;
    width: 580px;
    p {

    }
  }

  .partners {
    border-bottom: 1px solid #DCDCDC;
    border-top: 1px solid #DCDCDC;
    float: left;
    margin: 10px 0;
    padding: 30px 0;
    width: 960px;

    h2{
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    .partner-bg{


        background: none repeat scroll 0 0 #FFFFFF;
        height: 90px;
        padding: 10px 0;


      box-shadow: 0 0 3px #CCCCCC;
      -moz-box-shadow: 0 0 3px #CCCCCC;
      -webkit-box-shadow: 0 0 3px #CCCCCC;
      padding: 10px 0;
      a{
        width: 171px;
        text-align: center;

      }
    }

    .partner-big{
      text-align: center;
      text-transform: capitalize;
      width: 405px;
      float: left;
      margin-right: 18px;
      height: 106px;
    }

    .partner-small{

      width: 167px;
      text-align: center;
      text-transform: capitalize;
      float: left;
      margin-right: 18px;

    a{ display:none; left: 0;}}
  }
  .facebook-share {
    background: none repeat scroll 0 0 #FFFFFF;
    float: right;
    height: 72px;
    margin-bottom: 10px;
    padding: 5px 20px 0;
    width: 312px;
    box-shadow: 0 0 3px #CCCCCC;
    -moz-box-shadow: 0 0 3px #CCCCCC;
    -webkit-box-shadow: 0 0 3px #CCCCCC;
  }

  .footer-bottom {
    float: left;
    padding-top: 10px;
    width: 960px;
    margin-bottom: 30px;
    p { width: 360px; float: left;
    }
    a{
      color: #878787;
      text-decoration: underline;
    }
    .footer-logo {
      background: url("/assets/footer-logo.png") no-repeat scroll 0 0 transparent;
      display: block;
      float: right;
      height: 22px;
      text-indent: -9999px;
      width: 200px;
      margin-top: 2px;

    }
    .footer-links {
      float: left;
      margin-left: 32px;
      margin-top: 2px;

      a{
          display: inline-block;
          margin-right: 15px;
          margin-left: 48px;
      }
    }
  }
}
