@import 'application/mixins';
@import 'application/reset';

html {
  font-size: 14px;

  @media screen {
    padding: 2em;
    width: 50em;
    margin: 0 auto;
  }

  @media print {
    padding: 0.5cm 0;
    -webkit-print-color-adjust: exact;
  }
}

body {
  @include word-break();
  background: fff;
  color: #000;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}

b, strong {
  font-weight: 600;
}

i, em {
  font-style: italic;
}

p + p {
  margin-top: 0.5em;
}

li {
  margin: 0.1em 0 0 0;

  ul & {
    list-style: square;
  }
}

.Hidden {
  @include visually-hidden();
}

.MainContent {
  font-size: 1.1em;
}

.Sidebar {
  float: right;
  clear: right;
  width: 250px;
  padding: 0 0 0.5rem 2rem;
}

.Logo {
  text-align: center;
}

.Logo-Header {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.Logo-Image {
  margin: 0.5rem auto 0;
}

.Title {
  padding-bottom: 2em;

  & + * {
    clear: both;
  }
}

.Title-Header {
  font-size: 2rem;
  font-weight: 600;
}

.Title-Content {

}

.Definition {
  margin: 0.5em 0;
}

.Definition--inline {
  @extend .Definition;

  * {
    display: inline;
  }
}

.Definition-Header {
  font-weight: 600;

  &:after {
    content: ': ';
  }
}

.Definition-Content {
  margin: 0.1em 0;

  .Definition--inline & {
    margin: 0;

    li {
      &:after {
        content: ', ';
      }

      &:last-child:after {
        content: '';
      }
    }
  }
}

.Description {
  @extend .Definition;
  padding: 2em 0;

  & + & {
    clear: both;
    border-top: 1px solid #000;
  }
}

.Description-Header {
  margin: 0.5em 0;
  font-size: 1.5rem;
  font-weight: 600;

  .Description > &:first-child {
    margin-top: 0;
  }
}

.Description-Content {
  :empty {
    display: none;
  }
}

.Description-Content-Header {
  margin: 1em 0 0.5em;
  font-size: 1.2rem;
  font-weight: 600;

  .Description-Header + .Description-Content > &:first-child {
    margin-top: 0;
  }
}

/*
  Sections
  -------- */

@mixin section-icon($asset) {
  padding-left: 25px;
  list-style: none;

  &:before {
    content: '';
    position: absolute;
    width: 16px;
    min-height: 14px;
    height: 1em;
    margin: 3px 0 0 -25px;
    background: asset-data-url($asset) center center no-repeat;
  }
}

.SectionPhoto {
  padding-bottom: 0.5rem;
}

.SectionPhoto,
.SectionMap {
  max-height: 150px !important;
  width: auto;
}

.SectionLocation {
  @include section-icon('edit-relic-ico-location.png');
}

.SectionDate,
.SectionDates li {
  @include section-icon('edit-relic-ico-date.png');
}

.SectionDates {
  margin-top: 1em;
  clear: left;
}

.SectionRegistryNumber {
  @include section-icon('edit-relic-ico-list.png');
}

.SectionsCategories {
  @include section-icon('edit-relic-ico-folder.png');
}

.SectionTags {
  @include section-icon('edit-relic-ico-tags.png');
}

.SectionRegistry {
  @include section-icon('edit-relic-ico-info.png');
}

.SectionGroup:not(.Definition--inline) li {
  @include section-icon('event-bullet.png');
  padding-left: 20px;

  &:before {
    margin: 4px 0 0 -20px;
  }
}
