<p>Witaj,</p>

<p>Ktoś rozpoczął procedurę odzyskiwania hasła dla Twojego konta.</p>

<p><%= link_to 'Zmień moje hasło', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Jeśli to nie byłeś Ty, zignoruj ten e-mail.</p>
<p>Twoje hasło nie zostanie zmienione dopóki nie klikniesz w powyższy link i nie wprowadzisz nowego hasła.</p>
