%ol.relic-stages
  %li.first{:class => stage == 1 ? 'active' : ''}
    %span krok 1
    %h3 sprawdź istnienie
    %p Lorem ipsum dolor sit amet, consectetur adipiscing.
  %li{:class => stage == 2 ? 'active' : ''}
    %span krok 2
    %h3 dane adresowe
    %p Lorem ipsum dolor sit amet, consectetur adipiscing.
  %li{:class => stage == 3 ? 'active' : ''}
    %span krok 3
    %h3 szczegóły
    %p Lorem ipsum dolor sit amet, consectetur adipiscing.
  %li.last{:class => stage == 4 ? 'active' : ''}
    %span krok 4
    %h3 zdjęcia
    %p Lorem ipsum dolor sit amet, consectetur adipiscing.