/*
 *= require_self
 *= require ../vendor/jquery.fancybox
 */

@import "../application/mixins";

#oz_add_alert_widget{
  @include gradient(#4b6d7e, #436576);
  max-width: 300px;
  padding: 4px;
  border-radius: 2px;
  .widget-box{
    @include gradient(#fff, #f5f5f5);
    border-radius: 2px;
    padding-bottom: 16px;
    padding-top: 8px;
  }
  .actions{
    text-align: left;
    padding: 0 12px;
  }
  h3{
    @include gradient(#efefef, #ededed);
    border-top: 1px solid #e7e7e7;
    color: #3f3f40;
    font-size: 13px;
    font-weight: 600;
    padding: 8px 12px;
    font-family: 'Open Sans',​sans-serif;
  }
  h2{
    line-height: 18px;
    color: #47687a;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 12px;
    font-family: 'Open Sans',​sans-serif;
    margin-bottom: 0;
  }
  .widget-logo{
    background: asset-data-url("logo-widget.png") no-repeat;
    width: 157px;
    height: 31px;
    margin-left: 12px;
  }
  button{
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    border: 0;
    outline: 0;
    height: 30px;
    padding: 0 12px;
    cursor: pointer;
    text-transform: uppercase;
    &.none{
      cursor: default;
      @include gradient(#d8d8d8, #c4c4c4);
      text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
      margin-right: 10px;
    }
    &.show{
      @include gradient(#f22729, #de1f09);
      text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
      padding-right: 8px;
      box-shadow: 0 0 5px rgba(255,0,0,0.3);
      margin-right: 10px;
      span{
        @include gradient(#c91e1d, #bc1908);
        display: inline-block;
        border-radius: 2px;
        line-height: 18px;
        height: 18px;
        padding: 0 4px;
      }
      &:hover{
        background: #f22729;
      }
    }
    &.create {
      @include gradient(rgba(120, 145, 159, 1), rgba(95, 121, 135, 1));
      text-shadow: 0 -1px 0 rgba(0,0,0,0.6);

      &:hover{
        background: rgb(120, 145, 159);
      }
    }
  }
  a.what-about{
    color: #47687a;
    text-decoration: underline;
    font-size: 13px;
    font-weight: 600;
    float: right;
    margin: 8px 10px 0;
  }
}

.add_alert.edit_widget{
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .1);
}
