@import "vendor/jquery.fancybox";
@import "compass/layout";
@import "compass/css3";

#oz_add_relic_widget{
  @include background(linear-gradient(#4b6d7e, #436576));
  width: 300px;
  padding: 4px;
  @include border-radius(2px);
  .widget-box{
    @include background(linear-gradient(#fff, #f5f5f5));
    @include border-radius(2px);
    padding-bottom: 16px;
    padding-top: 8px;
  }
  .actions{
    text-align: center;
  }
  h3{
    background: #f2f2f2;
    border-top: 1px solid #e7e7e7;
    line-height: 30px;
    height: 30px;
    color: #505051;
    font-size: 12px;
    font-weight: normal;
    padding: 0 12px;  
    font-family: 'Open Sans',​sans-serif;
  }
  .widget-logo{
    background: asset-data-url("logo-widget.png") no-repeat;
    width: 157px;
    height: 31px;
    margin-left: 12px;
  }
  button{
    @include background(linear-gradient(#48b119, #2f9900));
    @include border-radius(2px);
    color: #fff;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    border: 0;
    height: 30px;
    padding: 0 12px;
    cursor: pointer;
    text-transform: uppercase;
    &:hover{
      background: #34a900;
    }
  }
}
