@import "../application/mixins";
@import "../vendor/antiscroll";

.antiscroll-scrollbar-vertical {
  width: 5px;
  margin-right: 3px;
}

.antiscroll-scrollbar {
  color: lightgray;
  background: rgba(0, 0, 0, 0.3);
}

body {
  background-color: #fff;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

a{
  color: #47697a;
  text-decoration: none;
  font-weight: 600;
  &:hover{
    text-decoration: underline;
  }
}

div.tooltip {
  position: absolute;
  padding: 5px;
  background-color: black;
  color: white;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 45px;
  width: 179px;
  z-index: 0;
  border-right: 1px solid #868584;
  overflow: hidden;
}

.advanced_search {
  position: absolute;
  border-right: 1px solid #868584;
  border-top: 1px solid #d3d3d3;
  bottom: 0;
  left: 0;
  width: 155px;
  height: 35px;
  background-color: #fff;
  padding: 5px 12px;
}

.map  {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 180px;
  &.full {
    left: 0px;
  }
}

h1{
  width: 157px;
  height: 31px;
  background: asset-data-url("logo-widget.png") 10px 10px no-repeat;
  text-indent: -9999px;
  margin: 0;
  padding: 10px 10px 12px 12px;
  float: left;
}

form{
  display: inline-block;
  width: 179px;
  h2{
    position: relative;
    color: #343434;
    font-size: 12px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    border-top: 1px solid #e4e4e4;
    padding: 7px 0 6px 10px;
    font-weight: bold;
    span {
      white-space: nowrap;
      padding-right: 24px;
    }
  }
  .search h2{
    padding: 8px 0 6px 10px;
  }
  input#search_query{
    margin: 0 0 8px 10px;
    padding: 0 25px 0 10px;
    border-radius: 2px;
    border: 1px solid #737373;
    @include gradient(#fafafa, #ffffff);
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.3), 0 1px 1px 0 rgba(0,0,0,0.1);
    height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #313132;
    width: 122px;
  }
  #search_query_input .input{
    position: relative;
  }
  .search-input{
    position: relative;
    .submit{
      position: absolute;
      width: 22px;
      height: 22px;
      background: #496b7c asset-data-url("widget-zoom.png") center center no-repeat;
      border-radius: 2px;
      right: 12px;
      top: 2px;
      border: 0;
      cursor: pointer;
    }
  }
}

.locations{
  background-color: #fff;
  position: relative;
  height: 60%;
  overflow: hidden;
  ul{
    padding-left: 10px;
    margin: 5px 0;
    li{
      list-style-type: none;
      font-size: 12px;
      &:before{
        content: '» ';
      }
      a{
        font-weight: 600;
        span.relic_count{
          font-weight: normal;
          font-size: 10px;
          color: #4a4a4a;
        }
      }
    }
  }

  .antiscroll-wrap {
    position: absolute;
    top: 37px;
    bottom: 28px;
    .box {
      width: 180px;
      height: 100%;
    }
    .box-inner {
      width: 165px;
      padding-right: 15px;
    }
    .antiscroll-inner {
      width: 200px;
      height: 100%;
    }
  }
}

.categories{
  background-color: #fff;
  height: 40%;
  position: relative;
  overflow: hidden;
  .inputs-list{
    span{
      font-weight: 600;
      font-size: 11px;
      em{
        font-weight: normal;
        font-size: 10px;
        color: #4a4a4a;
        font-style: normal;
      }
    }
  }
  ul{
    padding-left: 10px;
    margin: 5px 0;
    li{
      list-style-type: none;
      font-size: 12px;
      color: #343434;
    }
  }
  .antiscroll-wrap {
    position: absolute;
    top: 37px;
    bottom: 28px;
    .box {
      width: 180px;
      height: 100%;
    }
    .box-inner {
      width: 165px;
      padding-right: 15px;
    }
    .antiscroll-inner {
      width: 200px;
      height: 100%;
      .choices-group{
        label{
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}

.fluid_block {
  position: absolute;
  bottom: 0;
  top: 129px;
  left: 0px;
  width: 179px;
}

a.tooltip{
  position: absolute;
  right: 0;
  padding: 4px;
  top: 5px;
  img{
    border: 0;
  }
}

.show-more, .show-less {
  display: block;
  position: absolute;
  padding: 5px 10px;
  bottom: 0;
  left: 0;
  width: 180px;
  background-color: #fff;
}

.show-less {
  display: none;
}

.maxed {
  height: 100%;
  .show-less {
    display: block;
  }
  .show-more {
    display: none;
  }
}

.mined {
  height: 0%;
  .show-more, .show-less {
    display: none;
  }
}


.relic-info {
  position: relative;
  width: 300px;
  min-height: 60px;
  .photo-wrapper {
    margin-right: 4px;
    img {
      width: 50px;
      height: 50px;
      margin: 3px;
    }
    position: absolute;
    left: 0;
  }
  .relic-info-content {
    h3 {
      margin: 0;
    }
  }

  .photo-wrapper + .relic-info-content {
    margin-left: 60px;
  }
}

p{
  line-height: 1.5;
}

#search_query_input{
  position: relative;
}
