@import "../application/mixins";
@import "../application/reset";

html {
  width: 50em;
  padding: 2em;
  margin: 0 auto;
  font-size: 14px;

  @media print {
    width: auto;
    padding: 0.5cm 0;
    margin: 0;
    -webkit-print-color-adjust: exact;
  }
}

body {
  @extend %word-break;
  background: #fff;
  color: #000;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}

b, strong {
  font-weight: 600;
}

i, em {
  font-style: italic;
}

li {
  margin: 0.1em 0 0 0;

  ul & {
    list-style: square;
  }
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
}
