@import "compass/layout";
@import "compass/css3";

$blue: #044d71;
$blue-hover: #006699;
$dark-blue: #4c6c7c;
$dark-grey: #313132;

@mixin backgroundnavy {
  @include filter-gradient(#4b6d7e, #436576);
  background: #4b6d7e; /* Old browsers */
  @include background(linear-gradient(#4b6d7e, #436576));
  &:hover {
    @include filter-gradient(#437994, #2b607b);
    background: #437994; /* Old browsers */
    @include background(linear-gradient(#437994, #2b607b));
  }
}

@mixin clearfix() {
  /* For IE 6/7 (trigger hasLayout) */
  zoom: 1;
  /* For modern browsers */
  &:before,
  &:after {
    content:"";
    display:table;
  }
  &:after {
      clear:both;
  }
}
@mixin button-bluenavy{
          color: #fff;
          border: 0;
          font-size: 12px;
          font-weight: 600;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
          -webkit-border-radius: 2px;
          border-radius: 2px;
          cursor: pointer;
          text-decoration: none;
          @include backgroundnavy;
}

@mixin linear-gradient($from, $to){

}

@mixin gradient($from, $to) {
  @include filter-gradient($from, $to);
  background: $from;
  @include background(linear-gradient($from, $to));
  background: -ms-linear-gradient($from, $to);
}

@mixin ie-gradient($from, $to) {
  @include filter-gradient($from, $to);
  background: -ms-linear-gradient($from, $to);
}

@mixin word-break() {
  word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
}
