.oz-change-contrast {
  position: fixed;
  top: 0;
  left: 0;
}

@mixin white-on-blue {
  color: white !important;
  background: blue !important;
}

@mixin white-on-black {
  color: white !important;
  background: black !important;
}

@mixin black-on-white {
  color: black !important;
  background: white !important;
}

@mixin black-on-yellow {
  color: black !important;
  background: #ff0 !important;
}

.oz-contrast-changed {
  background-color: #ff0 !important;

  $specific-list: 'oz-edit_relic .input span', 'edit_relic .input span';
  $linkable-list: nav ul li span, a;
  $clickable-list: button, input, '.accept-cookies', '.oz-fb-btn', '.fb-btn',  '.clr-change-accessible';
  $not-clickable-list:  section, p, form, h1, h2, h3, h4, h5, h6, li, '.row', '.relic-example', '.top', '.footer-language',
  '.oz-nav-edit', '.edit_relic', '.clr-change';

  @each $item in $linkable-list {
    :not(.redactor_toolbar) #{$item}, :not(.redactor_toolbar) #{$item}:hover, :not(.redactor_toolbar) #{$item}:focus, :not(.redactor_toolbar) #{$item}:active {
      @include black-on-yellow;
      text-decoration: underline !important;
    }
    :not(.redactor_toolbar) #{$item}:hover {
      @include white-on-black;
    }
    :not(.redactor_toolbar) #{$item}:focus, :not(.redactor_toolbar) #{$item}:active {
      @include white-on-blue;
      text-decoration: none !important;
      font-weight: bold !important;

    }
  }


  @each $item in $clickable-list {
    #{$item}, #{$item}:hover, #{$item}:focus, #{$item}:active {
      @include white-on-black;
    }
    #{$item}:hover {
      text-decoration: underline !important;
    }
    #{$item}:focus, #{$item}:active {
      @include white-on-blue;
      text-decoration: none !important;
      font-weight: bold !important;

    }
  }

  @each $item in $not-clickable-list {
    :not(.oz-map-container) #{$item} {
      @include black-on-yellow;
    }
  }

  @each $item in $specific-list {
    #{$item} {
      @include black-on-yellow;
    }
  }

  //placeholder fixes
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity: 1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
    opacity: 1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
}

.oz-contrast-changed {

  .footer-language select {
    opacity: 1;
  }

  .widgets-intro ul li, .widgets-intro ul li span {
    @include black-on-white;
  }
}