.oz-no-padding {
  padding: 0;
}

.oz-no-margin {
  margin: 0;
}

.oz-edit_relic {
  display: flex;
  h1, h2 {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    height: 45px;
    line-height: 45px;
  }
  h1 {
    @include gradient(#36596b, #2f5163);
    padding: 0 12px;
  }
  h2 {
    @include gradient(#4b6d7e, #436576);
    padding: 0 20px;
    &.complex {
      padding: 12px 20px;
      margin-bottom: 20px;
      height: auto;
      line-height: 26px;
    }
  }

  ul {
    background-image: linear-gradient(to right, #E5E5E5 96%, #B3B3B3 100%);
    .sidebar-brand{
      font-weight: 600;
      font-size: 16px;
      color: #fff;
      height: 45px;
      line-height: 45px;
      @include gradient(#36596b, #2f5163);
      padding: 0 12px;
    }
    li {
      span {
        background: #fff asset-data-url("profile-edit-nav-icons.png") no-repeat;
        font-size: 13px;
        padding: 0 10px 0 34px;
        color: #343434;
        height: 34px;
        line-height: 34px;
        border-bottom: 1px solid #c3c3c3;
        display: block;
      }
      a {
        padding: 0 10px 0 34px;
        display: block;
        border-bottom: 1px solid #c3c3c3;
        color: #47697b;
        text-shadow: 0 1px 1px #fff;
        background: asset-data-url("profile-edit-nav-icons.png") no-repeat;
        span {
          padding: 0;
          background: none;
          border: 0;
          color: #47697b;
        }
      }
      &.general {
        span {
          background-position: 9px -293px;
        }
        a {
          background-position: 9px 10px;
        }
      }
      &.location {
        span {
          background-position: 9px -327px;
        }
        a {
          background-position: 9px -24px;
        }
      }
      &.events {
        span {
          background-position: 9px -363px;
        }
        a {
          background-position: 9px -59px;
        }
      }
      &.entries {
        overflow: hidden;
        span {
          background-position: 9px -466px;
        }
        a {
          background-position: 9px -161px;
        }
      }
      &.links {
        span {
          background-position: 9px -499px;
        }
        a {
          background-position: 9px -195px;
        }
      }
      &.documents {
        span {
          background-position: 9px -532px;
        }
        a {
          background-position: 9px -229px;
        }
      }
      &.categories {
        span {
          background-position: 9px -429px;
        }
        a {
          background-position: 9px -127px;
        }
      }
      &.description {
        span {
          background-position: 9px -394px;
        }
        a {
          background-position: 9px -92px;
        }
      }
      &.photos {
        span {
          background-position: 9px -565px;
        }
        a {
          background-position: 9px -262px;
        }
      }

    }
  }
}

section.oz-edit{
  position: relative;
  .row {
    padding: 15px 20px;
    textarea.redactor{
      width: 100%;
      box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.3), 0 1px 1px 0 rgba(0,0,0,.1);
      border-radius: 2px;
      border: 1px solid #646464;
      margin-top: 10px;
    }
  }
  .row + .row {
    padding-top: 0;
  }
  .opacity{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    left: 0;
    top: 0;
    min-height: 360px;
  }
  .loading{
    position: absolute;
    width: 100%;
    height: 360px;
    left: 0;
    top: 0;
    display: table;
    .inner{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      .loader{
        width: 24px;
        height: 24px;
        border-radius: 4px;
        padding: 10px;
        background: asset-data-url("fancybox/fancybox_overlay.png");
        margin: 0 auto;
      }
    }
  }
  form{
    label{
      font-weight: 700;
      font-size: 14px;
      color: #313132;
      display: block;
    }
    p.description{
      line-height: 20px;
      font-size: 13px;
      margin-bottom: 20px;
    }
    span.block{
      font-size: 12px;
      color: #505057;
      background: #f1f3f5 asset-data-url("icon-hint.png") 9px 50% no-repeat;
      padding: 6px 30px;
      line-height: 16px;
      margin-top: 10px;
    }
    .string{
      input {
        display: block;
        border: 1px solid #646464;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), inset 0 1px 3px 0 rgba(0,0,0,.3);
        border-radius: 2px;
        height: 34px;
        padding: 0 10px;
        font-size: 14px;
        color: #313132;
        font-weight: 600;
        width: 680px;
        margin: 10px 0;
      }
      &.error input{
        border: 1px solid #d10000;
        box-shadow: 0 0 5px 0 rgba(154,0,0,.3);
      }
    }
    .boolean span {
      font-size: 13px;
    }
    .actions{
      border-top: 1px solid #e5e5e5;
      padding-top: 20px;
      margin-top: 10px;
      color: #878787;
      font-style: italic;
      font-size: 12px;
      a{
        color: #d50000;
        font-style: normal;
      }
      input[type="submit"], button{
        @include gradient(#48b119, #2f9900);
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        text-shadow: 0 1px 0 rgba(0,0,0,.5);
        border: 0;
        height: 30px;
        padding: 0 12px;
        cursor: pointer;
        &:hover{
          background: #34a900;
        }
      }
    }
  }
}