@import "mixins";
@import "profile/*";

.edit_relic {

  > nav, > section {
    float: left;
  }

  > nav {
    width: 200px;
  }

  > section {
    width: 720px;
  }

  section.general.edit {
    .column {
      display: inline-block;
      vertical-align: top;
    }

    .column-first {
      width: 180px;
    }

    .column-second {
      width: 240px;
    }

    .column-third {
      width: 140px;
    }
  }

  section.general.show {
    width: 655px;
    height: 355px;
  }

  section.location {
    .administrative-level .row {
      padding: 0;
    }

    .input {
      margin: 2px 0 0;
    }

    input[type="text"][readonly] {
      color: #1e5d7d;
      font-size: 14px;
      border: 0px;
      border-radius: 2px;
      box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 0 5px 1px rgba(30, 93, 125, 0.3);
      display: block;
      width: 100%;
      font-weight: 600;
      filter: none;
      padding-left: 0;
      margin: 0px;
    }

    p.auto_geolocated{
      margin: 10px 0;
    }

    #suggestion_latitude_input, #suggestion_longitude_input {
      label {
        text-transform: none;
      }
    }

    #suggestion_latitude, #suggestion_longitude {
      border-color: #737373;
      box-shadow: none;
      padding: 0 10px;
      width: 130px;
      font-size: 12px;
      &:focus {
        box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 0 5px 1px rgba(30, 93, 125, 0.3);
      }
    }

    #map_canvas {
      width: 340px;
      height: 340px;
    }

    .marker-helper {
      background-color: white;
      padding: 0;

      h4 {
        text-align: center;
        font-size: 13px;
        font-weight: 700;
        line-height: 20px;
        color: #313132;
      }

      .marker-holder {
        background: asset-data-url('marker-helper-118.png') center center no-repeat;
        margin: 20px auto;
        width: 118px;
        height: 118px;

        #marker {
          cursor: pointer;
          margin: 38px 0 10px 47px;
        }

      }
    }

    .column {
      float: left;
    }

    .row {
      clear: both;
    }

    .column-left {
      position: relative;
    }
  }

  .reminder{
    margin-top: 10px;
    @include gradient(#f6ead4, #efdaB4);
    color: #524d49;
    padding: 15px;
    font-weight: bold;
    font-size: 12px;
  }

  input[type="submit"], button {
    text-transform: uppercase;
  }

  .help-content {
    position: relative;
    .help {
      display: none;
      float: right;
      font-size: 12px;
      color: #4a6b7d;
      font-weight: 600;
      padding-left: 26px;
      background: asset-data-url('wizard-icon-help-selected.png') no-repeat;
      line-height: 18px;
    }
    .help-extended {
      display: none;
      .close {
        float: right;
      }
    }
    &.active {
      padding: 0;
      .help {
        display: none;
      }
      .help-extended {
        display: block;
      }
    }
    .help {
      display: block;
      cursor: pointer;
      z-index: 1000;
    }
    .help-extended {
      padding: 25px;
      margin-bottom: 20px;
      background: #f4f7f9;
      border-bottom: 1px dashed #47697a;
      .close {
        float: right;
        font-size: 12px;
        color: #0c4e6e;
        font-weight: 600;
        padding-left: 26px;
        background: asset-data-url('wizard-icon-help-selected.png') no-repeat;
        line-height: 18px;
        cursor: pointer;
        position: relative;
        z-index: 1000;
      }
      p {
        font-size: 13px;
        color: #08374d;
        line-height: 20px;
        padding-right: 140px;
        margin: 0;
      }
    }
  }
}
section.edit{
  .row{
    p.description{
      line-height: 1.3;
    }
  }
}
section.show.photos{
  background: #fff;
  &.placeholder{
    @include gradient(#e9e9e9, #dfdfdf);
    box-shadow: inset 0 0 40px 0 rgba(0,0,0,0.2);
    text-align: center;
    .ico{
      position: absolute;
      width: 96px;
      height: 76px;
      background: asset-data-url("edit-relic-ico-photo.png") no-repeat;
      top: 100px;
      left: 100px;
    }
    a{
      min-width: 150px;
      text-transform: uppercase;
      text-shadow: 0 1px 0 rgba(30,110,6,0.5);
      color: #fff;
      font-size: 12px;
      padding: 8px 10px;
      @include gradient(#41a223, #399a1b);
      border-radius: 2px;
      display: inline-block;
      margin: 190px 0 0;
      &:hover{
        color: #fff;
        background: #399a1b;
      }
    }
  }
  .actions{
    margin: 1px;
    a{
      font-size: 12px;
      font-weight: 600;
      color: #fff;
      text-transform: uppercase;
      border-radius: 2px;
      &.show-photos{
        @include gradient(#4b6d7e, #436576);
      }
      &.edit-photos{
        @include gradient(#eb8308, #e37b00);
      }
    }
  }
}


.show.photo{
  background-color: #fafafa;
  h2{
    @include gradient(#4b6d7e, #436576);
    padding: 0 20px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    height: 45px;
    line-height: 45px;
  }
  .content{
    .info-left, .info-right{
      width: 45%;
      margin: 5px 0 0;
      line-height: 15px;
      p{
        line-height: 18px;
        &.info-row{
          margin-bottom: 5px;
        }
      }
    }
    .photo_content{
      position: relative;
      padding: 30px 80px 5px;
      display: inline-block;
      width: 800px;
      .full-photo {
        margin: 0 auto;
      }
      > a{
        position: absolute;
        top: 45%;
        width: 47px;
        height: 64px;
        line-height: 60px;
        @include gradient(#4b6d7e, #436576);
        color: #fff;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        text-shadow: 0 1px 0 rgba(0,0,0,0.6);
        &.next{
          right: 0px;
          border-radius: 2px 0 0 2px;
        }
        &.prev{
          left: 0px;
          border-radius: 0 2px 2px 0;
        }
      }
    }
    .info-left{
      float: left;
    }
    .info-right{
      float: right;
      text-align: right;
    }
    strong{
      font-weight: bold;
      display: block;
    }
    p{
      line-height: 18px;
    }
    p.description{
      display: inline-block;
      width: 100%;
    }
    .jcarousel-skin-midi{
      background: #eee;
      border-top: 1px solid #ccc;
      .jcarousel-clip-horizontal{
        width: 870px;
        margin: 25px 45px;
        height: auto;
        display: inline-block;
      }
      .jcarousel-item{
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
      }
      .jcarousel-prev-horizontal, .jcarousel-next-horizontal{
        width: 37px;
        height: 45px;
        top: 68px;
        background: asset-data-url("jcarousel-midi-buttons.png") no-repeat;
      }
      .jcarousel-prev-horizontal{
        background-position: 0 0;
        left: 0px;
        &.jcarousel-prev-disabled{
          background: none;
        }
      }
      .jcarousel-next-horizontal{
        background-position: -37px 0;
        right: 0px;
        &.jcarousel-next-disabled{
          background: none;
        }
      }
    }
  }
}

.row.first-row{
  display: table;
  border: 1px solid #fff;
  padding: 0;
}

.row.second-row{
  background: #fff;
  padding: 25px;
  display: inline-block;
  border-top: 3px solid #486A7C;
  section.show{
    position: relative;
    margin-bottom: 70px;
    .edit-relic-link{
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .column-left{
    float: left;
    margin-right: 35px;
    width: 596px;
  }
  .column-right{
    float: left;
    width: 279px;
  }
  h2{
    font-size: 22px;
    font-weight: normal;
    border-bottom: 2px solid #8499a4;
    padding-bottom: 15px;
    padding-right: 70px;
    margin-bottom: 20px;
  }
  .placeholder{
    border-radius: 4px;
    border: 2px dashed #8f8f8f;
    text-align: center;
    padding: 40px 20px;
    p{
      line-height: 22px;
      color: #6d6e71;
      font-size: 15px;
      font-weight: 600;
    }
    a{
      min-width: 150px;
      text-transform: uppercase;
      text-shadow: 0 1px 0 rgba(30,110,6,0.5);
      color: #fff;
      font-size: 12px;
      padding: 8px 10px;
      @include gradient(#41a223, #399a1b);
      border-radius: 2px;
      display: inline-block;
      margin: 10px 0;
      &:hover{
        color: #fff;
        background: #399a1b;
      }
    }
  }
}

section.show.photos {
  display: table-cell;
  width: 300px;
  position: relative;
  background: #fff;
  vertical-align: top;
  border-left: 1px solid #fff;
  .content{
    position: relative;
  }
  #slider {
    position: absolute;
    bottom: 0;
  }
  .main-photo{
    position: relative;
    display: block;
    span{
      position: absolute;
      left: 0;
      bottom: 2px;
      padding: 8px;
      color: #fff;
      font-size: 12px;
      font-weight: 600;
      background: rgba(0,0,0,0.5);
    }
    em{
      position: absolute;
      width: 106px;
      height: 107px;
      top: 97px;
      left: 102px;
      background: asset-data-url("edit-relic-ico-zoom.png") no-repeat;
    }
  }
  .actions {
    margin: 0 0 1px;
    display: inline-block;
    vertical-align: top;
    a {
      display: block;
      float: left;
      width: 150px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-size: 12px;
      font-weight: 600;
      color: #fff;
      text-transform: uppercase;
      border-radius: 2px;
      &.show-photos{
        @include gradient(#4b6d7e, #436576);
      }
      &.edit-photos{
        @include gradient(#eb8308, #e37b00);
        width: 149px;
        margin-left: 1px;
      }
    }
  }
  .jcarousel-skin-mini{
    .jcarousel-next-horizontal, .jcarousel-prev-horizontal{
      background: asset-data-url("jcarousel-buttons.png") no-repeat;
    }
    .jcarousel-next-horizontal{
      background-position: -28px 0;
      &.jcarousel-next-disabled{
        background-position: -28px -60px;
      }
    }
    .jcarousel-prev-horizontal{
      background-position: 0 0;
      &.jcarousel-prev-disabled{
        background-position: 0 -60px;
      }
    }
  }
  .jcarousel-item-horizontal{
    border-right: 1px solid #fff;
    &:first-child{
      border-left: 1px solid #fff;
    }
  }
}

section.show.general{
  display: table-cell;
  width: 611px;
  padding: 17px 20px 25px 25px;
  border-right: 2px solid #486a7c;
  background: #fff;
  h1{
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
  }
  .status{
    display: inline-block;
    width: 100%;
    margin: 15px 0;
    .tag{
      float: left;
      span{
        color: #fff;
        text-transform: uppercase;
        display: inline-block;
        font-size: 11px;
        line-height: 19px;
        padding: 0 8px;
        font-weight: normal;
        border-radius: 3px;
        text-shadow: rgba(0,0,0,0.3) 0 1px 1px;
        box-shadow: inset rgba(0,0,0,0.4) 0 1px 3px;
        margin-right: 4px;
        &.unchecked{
          @include gradient(#a3a4a6, #c1c3c5);
        }
        &.checked{
          @include gradient(#e0a876, #fec695);
        }
        &.filled{
          @include gradient(#90b86e, #afd78c);
        }
      }
    }
    .relic-info{
      margin-left: 10px;
      padding-left: 20px;
      font-size: 12px;
      background: asset-data-url("edit-relic-ico-info.png") no-repeat;
      display: inline-block;
      line-height: 16px;
      margin-top: 3px;
      strong{
        font-weight: 700;
      }
    }
  }
  .help{
    top: 1px;
  }
  .location_name{
    background: asset-data-url("edit-relic-ico-location.png") 0 3px no-repeat;
  }
  .dating{
    background: asset-data-url("edit-relic-ico-date.png") 0 3px no-repeat;
  }
  .register_number{
    background: asset-data-url("edit-relic-ico-list.png") 0 4px no-repeat;
  }
  .location_name, .dating, .register_number{
    padding-left: 20px;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 15px;
    strong{
      font-weight: 700;
    }
  }
  .map{
    background: asset-data-url("edit-relic-map-bg.png");
    position: absolute;
    display: none;
    width: 274px;
    height: 200px;
    padding: 25px 30px;
    z-index: 2;
    top: -28px;
    left: 110px;
    .close{
      float: right;
      font-weight: 600;
      font-size: 12px;
      color: #af0c0c;
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
    p{
      font-size: 13px;
      font-weight: 700;
    }
  }
  .show-map{
    color: #466879;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
  #map{
    position: relative;
  }
  .original {
    float: left;
    margin: 3px 3px 0 0;
    @include gradient(#4b6d7e, #436576);
    color: #fff;
    border: 0;
    font-size: 12px;
    font-weight: 300;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
      @include gradient(#437994, #2b607b);
      text-decoration: none;
    }
    &:active {
      @include gradient(#2b607b, #437993);
    }
    span{
      padding: 9px 12px 6px 29px;
      display: block;
      font-weight: 600;
      background: asset-data-url("edit-relic-ico-original.png") 10px 10px no-repeat;
    }
  }

  .print-guide {
    @extend .original;

    span {
      padding-left: 30px;
      background: asset-data-url("edit-relic-ico-print.png") 10px 8px no-repeat;
    }
  }
}

section.show.description{
  .content, .content p, .content span{
    line-height: 22px;
    font-size: 14px;
  }
  .content p, .content span{
    margin-bottom: 15px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  p{
    b{
      font-weight: bold;
    }
    i{
      font-style: italic;
    }
  }
  ul{
    padding-left: 20px;
    margin: 10px 0;
    li{
      list-style-type: disc;
      line-height: 22px;
      font-size: 14px;
    }
  }
}

section.show.entries {
  .content {
    @include clearfix();
    margin: -10px;

    .entry-container {
      box-sizing: border-box;
      width: 50%;
      padding: 10px;
      float: left;
    }

    .entry {
      border-radius: 2px;
      box-shadow: 0 1px 4px 0 rgba($dark-grey, 0.3);
      background: #fff;
      padding: 20px;
      font-size: 14px;
      line-height: 1.45;

      .body {
        @extend %word-break;
        font-family: Georgia, Times New Roman, Times, serif;
      }

      h3 {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 7px;
      }

      p, ul, ol {
        &:not(:empty) {
          & + p,
          & + ul,
          & + ol {
            padding-top: 0.5em;
          }
        }
      }

      b {
        font-weight: bold;
      }

      i {
        font-style: italic;
      }

      ul {
        padding-left: 20px;
      }

      li {
        list-style-type: disc;
      }

      :empty {
        display: none;
      }

      .toggle {
        cursor: pointer;
        position: relative;
        text-align: right;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        color: $dark-blue;

        &:hover {
          color: $blue-hover;
        }
      }

      &.togglable {
        :not(&) > .toggle {
          display: none;
        }

        &.less {
          .body {
            overflow: hidden;
            max-height: 190px;
          }

          .toggle:before {
            @include gradient(rgba(255, 255, 255, 0), #fff);
            display: block;
            content: '';
            height: 100px;
            margin-top: -100px;
          }
        }
      }
    }
  }
}

section.show.links{
  h3 {
    margin-top: 5px;
    font-weight: bold;
  }
  ul li{
    padding-left: 20px;
    background: asset-data-url("edit-relic-ico-link.png") 0 3px no-repeat;
    line-height: 22px;
  }
}

section.show.categories{
  .categories, .tags{
    font-size: 13px;
    margin-bottom: 4px;
    strong{
      font-weight: 700;
      padding-left: 20px;
      background: asset-data-url("edit-relic-ico-folder.png") 0 4px no-repeat;
      line-height: 18px;
    }
    span{
      color: #47697a;
    }
  }
  .tags{
    margin-bottom: 0;
    strong{
      background: asset-data-url("edit-relic-ico-tags.png") 2px 3px no-repeat;
    }
  }
}

section.show.alerts{
  .content {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  position: relative;
  .edit-relic-link{
    img{
      margin-right: 5px;
    }
  }
  .not-fixed{
    h4{
      font-size: 15px;
      color: #f00;
      font-weight: 700;
      margin-bottom: 10px;
    }
    li{
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 1px solid #e5e5e5;
      margin-bottom: 10px;
      display: inline-block;
      position: relative;
      .image{
        padding: 3px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
        position: absolute;
        left: 0;
      }
      .image + p{
        padding-left: 95px;
        display: block;
        min-height: 87px;
      }

      p {
        line-height: 18px;
      }
    }
  }
  .fixed{
    h4{
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    li{
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 1px solid #e5e5e5;
      margin-bottom: 10px;
      display: inline-block;
      position: relative;
      .image {
        padding: 3px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
        position: absolute;
        left: 0;
      }

      .image + p {
        display: block;
        padding-left: 60px;
        min-height: 50px;
      }

      p {
        line-height: 18px;
        font-style: italic;
        font-size: 12px;
      }
    }
  }
  .alert-link{
    background: none;
    text-transform: none;
    color: #f00;
    text-decoration: underline;
    float: right;
    padding: 0;
    text-shadow: none;
    font-size: 12px;
    filter: none;
    line-height: 1.5;
    &:hover {
      background: none;
      color: red;
    }
  }
  .placeholder{
    a img{
      margin-right: 5px;
    }
  }
}

.edit-relic-link{
  float: right;
  @include gradient(#eb8308, #e37b00);
  border-radius: 2px;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  text-shadow: 0 -1px 0 rgba(142,77,0,0.5);
  padding: 8px 11px;
  text-transform: uppercase;
  line-height: 12px;
  &:hover{
    color: #fff;
  }
}

section.show.events{
  .content{
    .viewport {
      width: 100%;
      max-height: 200px;
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;
    }
    .thumb {
      .end {
        background-color: #7f7f7f;
        border-radius: 2px;
      }
      background-color: #7f7f7f;
      border-radius: 2px;
    }
    .thumb {
      height: 20px;
      width: 4px;
      cursor: pointer;
      overflow: hidden;
      position: absolute;
      top: 0;
      .end {
        overflow: hidden;
        height: 5px;
        width: 4px;
      }
    }
    .disable {
      display: none;
    }
    li{
      padding-left: 20px;
      background: asset-data-url("event-bullet.png") 5px 4px no-repeat;
      margin-bottom: 10px;
      display: inline-block;
      width: 265px;
      strong{
        font-weight: 700;
      }
      img{
        float: left;
        margin-right: 10px;
        border: 3px solid #fff;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
      }
    }

  }
}

section.show.documents{
  .document{
    padding: 0 0 14px 37px;
    border: 0;
    display: inline-block;
    width: 245px;
    background: asset-data-url("file_extension_tmp.png") top left no-repeat;
    &.image-jpeg{
      background: asset-data-url("file_extension_jpg.png") top left no-repeat;
    }
    &.image-gif{
      background: asset-data-url("file_extension_gif.png") top left no-repeat;
    }
    &.image-png{
      background: asset-data-url("file_extension_png.png") top left no-repeat;
    }
    &.zip{
      background: asset-data-url("file_extension_zip.png") top left no-repeat;
    }
    &.octet-stream{
      background: asset-data-url("file_extension_rar.png") top left no-repeat;
    }
    &.pdf{
      background: asset-data-url("file_extension_pdf.png") top left no-repeat;
    }
    &.msword, .vnd-openxmlformats-officedocument-wordprocessingml-document, .vnd-oasis-opendocument-text{
      background: asset-data-url("file_extension_doc.png") top left no-repeat;
    }
    &.vnd-ms-excel, .vnd-openxmlformats-officedocument-spreadsheetml-sheet{
      background: asset-data-url("file_extension_xls.png") top left no-repeat;
    }
    &.vnd-ms-powerpoint, .vnd-openxmlformats-officedocument-presentationml-presentation{
      background: asset-data-url("file_extension_pps.png") top left no-repeat;
    }
    h3{
      a{
        color: #47697a;
        font-size: 13px;
      }
    }
    p{
      float: left;
      font-size: 12px;
      line-height: 16px;
      margin-right: 15px;
      &:last-child{
        margin: 0;
      }
    }
  }

  .where-to-find {
    padding-bottom: 10px;
    h3 {
      font-size: 14px;
      line-height: 16px;
      font-weight: bold;
      margin-bottom: 8px;
      margin-top: -5px;
    }
  }
}

span.block {
  display: block;
}

.edit_relic{
  background: asset-data-url("profile-edit-bg.png") repeat-y;
  display: inline-block;
  h1, h2{
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    height: 45px;
    line-height: 45px;
  }
  h1{
    @include gradient(#36596b, #2f5163);
    padding: 0 12px;
  }
  h2{
    @include gradient(#4b6d7e, #436576);
    padding: 0 20px;
    &.complex{
      padding: 12px 20px;
      margin-bottom: 20px;
      height: auto;
      line-height: 26px;
    }
  }
  nav{
    width: 213px;
    ul{
      li{
        span{
          background: #fff asset-data-url("profile-edit-nav-icons.png") no-repeat;
          font-size: 13px;
          padding: 0 10px 0 34px;
          color: #343434;
          height: 34px;
          line-height: 34px;
          border-bottom: 1px solid #c3c3c3;
          display: block;
        }
        a{
          padding: 0 10px 0 34px;
          display: block;
          border-bottom: 1px solid #c3c3c3;
          color: #47697b;
          text-shadow: 0 1px 1px #fff;
          background: asset-data-url("profile-edit-nav-icons.png") no-repeat;
          span{
            padding: 0;
            background: none;
            border: 0;
            color: #47697b;
          }
        }
        &.general{
          span{
            background-position: 9px -293px;
          }
          a{
            background-position: 9px 10px;
          }
        }
        &.location{
          span{
            background-position: 9px -327px;
          }
          a{
            background-position: 9px -24px;
          }
        }
        &.events{
          span{
            background-position: 9px -363px;
          }
          a{
            background-position: 9px -59px;
          }
        }
        &.entries{
          overflow: hidden;
          span{
            background-position: 9px -466px;
          }
          a{
            background-position: 9px -161px;
          }
        }
        &.links{
          span{
            background-position: 9px -499px;
          }
          a{
            background-position: 9px -195px;
          }
        }
        &.documents{
          span{
            background-position: 9px -532px;
          }
          a{
            background-position: 9px -229px;
          }
        }
        &.categories{
          span{
            background-position: 9px -429px;
          }
          a{
            background-position: 9px -127px;
          }
        }
        &.description{
          span{
            background-position: 9px -394px;
          }
          a{
            background-position: 9px -92px;
          }
        }
        &.photos{
          span{
            background-position: 9px -565px;
          }
          a{
            background-position: 9px -262px;
          }
        }
      }
    }
  }
}

section.edit{
  width: 747px;
  position: relative;
  .row {
    padding: 15px 20px;
    textarea.redactor{
      width: 100%;
      box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.3), 0 1px 1px 0 rgba(0,0,0,.1);
      border-radius: 2px;
      border: 1px solid #646464;
      margin-top: 10px;
    }
  }
  .row + .row {
    padding-top: 0;
  }
  .opacity{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    left: 0;
    top: 0;
    min-height: 360px;
  }
  .loading{
    position: absolute;
    width: 100%;
    height: 360px;
    left: 0;
    top: 0;
    display: table;
    .inner{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      .loader{
        width: 24px;
        height: 24px;
        border-radius: 4px;
        padding: 10px;
        background: asset-data-url("fancybox/fancybox_overlay.png");
        margin: 0 auto;
      }
    }
  }
  form{
    label{
      font-weight: 700;
      font-size: 14px;
      color: #313132;
      display: block;
    }
    p.description{
      line-height: 20px;
      font-size: 13px;
      margin-bottom: 20px;
    }
    span.block{
      font-size: 12px;
      color: #505057;
      background: #f1f3f5 asset-data-url("icon-hint.png") 9px 50% no-repeat;
      padding: 6px 30px;
      line-height: 16px;
      margin-top: 10px;
    }
    .string{
      input {
        display: block;
        border: 1px solid #646464;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), inset 0 1px 3px 0 rgba(0,0,0,.3);
        border-radius: 2px;
        height: 34px;
        padding: 0 10px;
        font-size: 14px;
        color: #313132;
        font-weight: 600;
        width: 680px;
        margin: 10px 0;
      }
      &.error input{
        border: 1px solid #d10000;
        box-shadow: 0 0 5px 0 rgba(154,0,0,.3);
      }
    }
    .boolean span {
      font-size: 13px;
    }
    .actions{
      border-top: 1px solid #e5e5e5;
      padding-top: 20px;
      margin-top: 10px;
      color: #878787;
      font-style: italic;
      font-size: 12px;
      a{
        color: #d50000;
        font-style: normal;
      }
      input[type="submit"], button{
        @include gradient(#48b119, #2f9900);
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        text-shadow: 0 1px 0 rgba(0,0,0,.5);
        border: 0;
        height: 30px;
        padding: 0 12px;
        cursor: pointer;
        &:hover{
          background: #34a900;
        }
      }
    }
  }
}

li.move {
  cursor: move;
}

div.fancybox-close{
  background: asset-data-url("edit-relic-ico-close.png") center center no-repeat;
}

.error{
  .input{
    input.error, textarea.error, .redactor_box{
      border: 1px solid #d10000;
      box-shadow: 0 0 5px 0 rgba(154,0,0,.3);
    }
    .help-inline{
      font-size: 12px;
      color: #D51818;
      margin-top: -2px;
      margin-bottom: 15px;
      display: block;
    }
    .redactor_box + .help-inline{
      margin-top: 10px;
    }
  }
}

.popover{
  &.right{
    .arrow{
      display: none;
    }
    .popover-inner{
      &:before{
        content: ' ';
        border-color: transparent rgba(0, 0, 0, 0.2) transparent transparent;
        border-style: solid;
        border-width: 9px;
        position: absolute;
        top: 47%;
        left: -18px;
      }
      &:after{
        content: ' ';
        border-color: transparent #f0f0f0 transparent transparent;
        border-style: solid;
        border-width: 9px;
        position: absolute;
        bottom: auto;
        top: 47%;
        left: -17px;
      }
    }
  }
  &.top{
    .arrow{
      display: none;
    }
    .popover-inner{
      margin-top: -20px;
      margin-left: 190px;
      &:before{
        content: "";
        display: block;
        position: absolute;
        left: 96px;
        bottom: -10px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 10px 9px 0 9px;
        border-color: rgba(0,0,0,0.3) transparent transparent transparent;
      }
      &:after{
        content: "";
        display: block;
        position: absolute;
        left: 95px;
        bottom: -9px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 11px 10px 0 10px;
        border-color: rgba(234,234,235,0.95) transparent transparent transparent;
      }
      .popover-title{
        color: #42738c;
        p{
          font-size: 14px;
        }
        p.close a{
          font-weight: normal;
          font-size: 12px;
        }
      }
    }
  }
  &.bottom{
    .arrow{
      display: none;
    }
    .popover-inner{
      margin-top: -160px;
      margin-left: 30px;
      &:before{
        content: "";
        display: block;
        position: absolute;
        left: 256px;
        bottom: -10px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 10px 9px 0 9px;
        border-color: rgba(0,0,0,0.3) transparent transparent transparent;
      }
      &:after{
        content: "";
        display: block;
        position: absolute;
        left: 255px;
        bottom: -9px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 11px 10px 0 10px;
        border-color: rgba(234,234,235,0.95) transparent transparent transparent;
      }
      .popover-title{
        color: #42738c;
        p{
          font-size: 14px;
        }
        p.close a{
          font-weight: normal;
          font-size: 12px;
        }
      }
    }
  }
  .popover-inner{
    @include gradient(#f6f7f8, #eaeaeb);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: visible;
    .popover-title{
      @include clearfix();
      background: none;
      border: 0;
      p{
        font-weight: 700;
        float: left;
        &.close{
          float: right;
          a{
            color: #af0c0c;
            font-weight: 600;
          }
        }
      }
    }
    .popover-content{
      padding-top: 0;
      background: none;
    }
  }
}

.original-version{
  z-index: 10000;
  width: 100%;
  position: fixed;
  @include gradient(rgba(242,242,242,0.9), rgba(229,229,229,0.9));
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.4);
  min-height: 83px;
  top: 0;
  left: 0;
  .btn{
    float: left;
    margin: 30px 0 0 10px;
    @include gradient(#4b6d7e, #436576);
    color: white;
    border: 0;
    font-size: 12px;
    font-weight: 600;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
    padding: 9px 12px 6px;
    text-transform: uppercase;
    &:hover {
      @include gradient(#437994, #2b607b);
      text-decoration: none;
    }
    &:active {
      @include gradient(#2b607b, #437993);
    }
  }
  .content{
    width: 760px;
    margin: 15px auto 0;
    text-align: center;
    color: #333;
    text-shadow: 0 1px 1px #fff;
    h3{
      font-size: 18px;
      font-weight: 600;
      margin: 10px 0;
      text-transform: uppercase;
    }
    p{
      font-weight: 600;
      font-size: 14px;
    }
  }
}

$subrelics-background: #476c7e;
$subrelics-background-hover: #24353d;

.subrelics {
  border-bottom-left-radius: 3px;
  overflow: hidden;
  margin: -25px -25px 70px 0;
  background: $subrelics-background;
  color: #fff;
  font-size: 13px;
  font-weight: 300;

  a {
    &, &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

.subrelics-description {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 20px 20px 20px 63px;
  line-height: 18px;
  font-weight: 400;
  background: asset-data-url("edit-relic-ico-info-white.png") 27px 31px no-repeat;
  border-bottom: 1px solid #3b5664;

  & + .subrelics-tree {
    border-top: 1px solid #5b7e90;
  }
}

.subrelics-tree {
  padding: 20px 0 40px;
}

.subrelic {
  @include clearfix();
  padding: 4px 20px;
  line-height: 1.3;

  &.type-root {
    background-image: asset-data-url("stack-icon-dark.png");
    background-position: 24px 13px;
    background-repeat: no-repeat;
    padding: 11px 20px 11px 63px;
    line-height: 18px;

    a {
      display: block;
    }
  }

  &.type-current,
  &.type-root {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    font-weight: 500;
  }

  .subrelics-list &:hover {
    background-color: darken($subrelics-background, 5%);
  }

  &.type-current {
    &, &:hover {
      box-shadow: inset 0 1px 2px rgba($dark-grey, 1);
      background-color: $subrelics-background-hover;
    }
  }
}

.subrelic-image {
  .thumb {
    box-shadow: 0 1px 5px rgba($dark-grey, 0.7);
    border-radius: 3px;
    float: left;
    padding: 3px;
    border: 1px solid #d4d4d4;
    background: #fff;

    &.type-tiny {
      width: 24px;
    }
  }

  & + .subrelic-name {
    margin: 7px 0 5px 43px;
  }
}

.subrelics-info {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0 0 1em 63px;
  font-size: 11px;
  font-weight: 500;
  color: rgba(#fff, 0.5);

  .type-root + & {
    margin-top: -0.5em;
  }

  .type-root.type-current + & {
    margin-top: 5px;
  }
}

.subrelics-add {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 400;

  &.type-empty {
    border-radius: 5px;
    border: 2px dashed darken($subrelics-background, 10%);
    padding: 24px 0 26px;
    margin: 10px 25px 0;
  }
}

$subrelics-button-color: #399a1b;
$subrelics-button-shadow: 0 1px 2px rgba($dark-grey, 0.4);
$subrelics-parent-color: #fbf4e9;

.basic-button,
.subrelics-add-button {
  border-radius: 2px;
  text-shadow: 0 1px 0 rgba(30, 110, 6, 0.5);
  box-shadow: $subrelics-button-shadow;
  display: inline-block;
  background: $subrelics-button-color;
  padding: 8px 25px;
  line-height: 1;
  text-transform: uppercase;

  &:hover,
  &:active {
    background: lighten($subrelics-button-color, 1%);
  }

  &:active {
    box-shadow: $subrelics-button-shadow, inset 0 1px 10px rgba($dark-grey, 0.5);
    padding-top: 9px;
    padding-bottom: 7px;
  }
}

.basic-button {
  &, &:hover {
    color: #fff;
    text-decoration: none;
  }

  &.type-add {
    background-image: asset-data-url("plus-icon-light.png");
    background-position: 21px 7px;
    background-repeat: no-repeat;
    padding-left: 42px;

    &:active {
      background-position: 21px 8px;
    }
  }
}

.subrelic-parent-info {
  border-radius: 2px;
  text-shadow: 0 1px 0 lighten($subrelics-parent-color, 2%);
  padding: 20px 20px 19px 58px;
  margin: 10px;
  color: rgba($dark-grey, 0.8);
  background-color: $subrelics-parent-color;
  background-image: asset-data-url("stack-icon-light.png");
  background-position: 25px 19px;
  background-repeat: no-repeat;
  font-weight: 500;

  .show.general > &:first-child {
    border-top: 1px solid lighten($subrelics-parent-color, 2%);
    margin: -18px -20px 10px -26px;
  }

  a {
    font-weight: 600;
  }
}

.no-results-add {
  text-align: center;
}

.toggle-read, #toggle-read{
  color: #044d71;
  cursor: pointer;
  padding-top: 10px;
  margin: 10px 0;
}

#toggle-read{
  float: right;
}

.toggle-read{
  display: block;
  text-align: right;
  font-size: 12px;
}

.attachments .btn{
  text-decoration: none;
  strong{
    font-weight: 700;
  }
}

.attachment_list{
  display: inline-block;
  width: 710px;
  form{
    float: left;
    margin: 0 10px 10px 0;
    input[type="image"]{
      border: 3px solid white;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    }
  }
}
