@import "mixins";

.content_more {
  width: 678px;
  height: auto;
  padding: 35px 140px 35px 140px;
  border: 1px solid #d2d2d2;
  background-color: #FFFFFF;
  line-height: 35px;

  p.italic {
    font-style: italic;
    margin: 0 0 25px 0;
    span {
      font-style: normal;
    }
  }
  p.normal {
    font-style: normal;
    margin: 0 0 25px 0;
  }
  p.bold {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 25px 0;
  }
  p.bold_2 {
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 25px 0;
  }
  strong, b {
    font-weight: bold;
  }
  li {
    font-weight: normal;
    font-size: 16px;
    margin: 0 0 3px 0;
  }
  ol {
    list-style-type: decimal;
    font-weight: normal;
    font-size: 16px;
    padding: 0 0 0 55px;
    margin: 0 0 25px 0;
  }
  h1 {
    font-family: 'Open Sans', sans-serif;
    color: #313132;
    font-size: 38px;
    padding: 0 0 20px 0;
  }
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #313132;
    line-height: 30px;
  }
  .txt_content {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #313132;
    line-height: 30px;
  }
}

.box_bottom {
  background-color: #e8eff2;
  width: 958px;
  height: 95px;
  border: 1px solid #d2d2d2;
  padding: 45px 0 0 0;

  h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #313132;
    line-height: 30px;
    text-align: center;
  }
  .links_bottom {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #044d71;
    text-align: center;
    a {
      text-decoration: underline;
    }
    span {
      font-size: 16px;
      font-weight: normal;
    }
  }

}

.about_top {
  width: 878px;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 28px;
  border: 1px solid #436576;
  color: #FFFFFF;
  padding: 25px 0 0 80px;
  margin: 0 0 73px 0;
  background: image-url('curch.png') no-repeat, #546f7d linear-gradient(to bottom, #546f7d, #436576);
  background-position: 30px;
}

.content_more_about {
  width: 678px;
  height: auto;
  padding: 14px 140px 35px 140px;
  margin: -74px 0 0 0;
  border: 1px solid #d2d2d2;
  background-color: #FFFFFF;
  line-height: 35px;

  iframe.oz-contact-map {
    height: 400px;
  }
  em.icons{
    width: 58px;
    height: 16px;
    background: asset-data-url("cc-icons.png") no-repeat;
    display: inline-block;
  }

  p.top_big {
    font-size: 22px;
    color: #313132;
    line-height: 27px;
    margin: 22px 0 36px 0;
  }
  p.top_medium {
    font-size: 18px;
    color: #313132;
    margin: 0 0 30px 0;
  }
  p.small {
    font-size: 14px;
    color: #313132;
    line-height: 21px;
    margin: 0 0 24px 0;
  }
  p.quotation {
    font-size: 14px;
    color: #313132;
    line-height: 21px;
    padding: 0 0 0 25px;
    margin: 0 0 65px 0;
    border-left: 6px solid #737373;
  }
  p.big_other {
    font-size: 22px;
    color: #313132;
    font-weight: normal;
    margin: 0 0 34px 0;
  }
  h4 {
    font-weight: 300;
    color: #313132;
    font-size: 17px;
    margin: 0 0 16px 0;
  }
  h5 {
    font-weight: 300;
    color: #456678;
    font-size: 15px;
    margin: 0 0 33px 0;
  }
  ol {
    font-size: 14px;
    color: #313132;
    margin: 0 0 34px 0;
    padding: 0 0 0 50px;
    line-height: 21px;
  }
  li {
    font-size: 14px;
    color: #313132;
    line-height: 24px;
    list-style: circle;
  }
  strong {
    font-weight: 800;
  }
  .download {
    margin: 16px auto;
    width: 230px;
    display: block;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    @include gradient(#4b6d7e, #436576);
    color: #fff;
    border: 0;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    border-radius: 2px;
    padding: 5px 19px 4px 19px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      @include gradient(#437994, #2b607b);
    }
    &:active {
      @include gradient(#2b607b, #437893);
    }
    .size, .date {
      text-transform: none;
      font-size: 0.9em;
    }
  }
}

.top_help {
  background-image: image-url('help_icon.png');
}

.about_top_help {
  width: 878px;
  height: 50px;
  font-weight: 4000;
  font-size: 28px;
  border: 1px solid #436576;
  color: #FFFFFF;
  padding: 25px 0 0 138px;
  margin: 0 0 73px 0;
  background: image-url('help_icon.png') no-repeat, #546f7d linear-gradient(to bottom, #546f7d, #436576);
  background-position: 30px;
}

.content_more_help {
  width: 678px;
  height: auto;
  padding: 14px 140px 35px 140px;
  margin: -74px 0 0 0;
  border: 1px solid #d2d2d2;
  background-color: #FFFFFF;
  line-height: 35px;

  p.small {
    font-size: 14px;
    color: #313132;
    line-height: 21px;
    margin: 0 0 24px 0;
  }
}

.contact_top {
  background-image: image-url('icon-contact.png');
}

.download_top {
  background-image: image-url('icon-download.png');
}
