section.widgets{
  h1{
    background: asset-data-url("icon-download.png") no-repeat;
    background-position: 30px;
    background-color: #546f7d; /* Old browsers */
    background-color: -moz-linear-gradient(top, #546f7d 0%, #436576 100%); /* FF3.6+ */
    background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #546f7d), color-stop(100%, #436576)); /* Chrome,Safari4+ */
    background-color: -webkit-linear-gradient(top, #546f7d 0%, #436576 100%); /* Chrome10+,Safari5.1+ */
    background-color: -o-linear-gradient(top, #546f7d 0%, #436576 100%); /* Opera 11.10+ */
    background-color: -ms-linear-gradient(top, #546f7d 0%, #436576 100%); /* IE10+ */
    background-color: linear-gradient(to bottom, #546f7d 0%, #436576 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#546f7d', endColorstr = '#436576', GradientType = 0); /* IE6-9 */
    margin: 0;
    height: 55px;
    padding: 25px 0 0 80px;
    width: 878px;
  }
  .content{
    background: #fff;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
    padding: 35px 30px;
    display: inline-block;
    width: 900px;
    .description{
      float: left;
      width: 290px;
      h3{
        font-size: 20px;
        line-height: 22px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      p{
        line-height: 17px;
        font-size: 13px;
        margin-bottom: 25px;
      }
    }
    .widgets{
      margin-left: 315px;
      .widget{
        border-bottom: 3px solid #486a7c;
        margin-bottom: 30px;
        min-height: 200px;
        display: block;
        &:hover{
          text-decoration: none;
        }
        .image{
          float: left;
          margin-bottom: 20px;
        }
        .widget_content{
          margin-left: 220px;
          display: block;
        }
        span.title{
          font-weight: 600;
          font-size: 22px;
          line-height: 27px;
          margin-bottom: 10px;
          padding-left: 35px;
          display: block;
          color: #313132;
          &.add_relics{
            background: asset-data-url("icon-widgetlist-add.png") no-repeat;
          }
          &.map_searches{
            background: asset-data-url("icon-widgetlist-map.png") no-repeat;
          }
          &.add_alerts{
            background: asset-data-url("icon-widgetlist-alerts.png") no-repeat;
          }
        }
        .paragraph{
          font-size: 13px;
          line-height: 18px;
          display: block;
          color: #313132;
        }
        .actions{
          display: inline-block;
          width: 100%;
        }
      }
    }
  }
}

.use-widget, .edit_widget .sidebar input[type="submit"], .edit_widget .sidebar button{
  margin: 25px 0 20px;
  @include gradient(#4b6d7e, #436576);
  color: #fff;
  border: 0;
  font-size: 12px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 7px 20px;
  cursor: pointer;
  float: left;
  font-weight: 600;
  &:hover {
    @include gradient(#437994, #2b607b);
    text-decoration: none;
    color: #fff;
  }
  &:active {
    @include gradient(#2b607b, #437893);
  }
}

.edit_widget.map_search h1{
  line-height: 75px;
  height: 75px;
  font-size: 28px;
  background: asset-data-url("icon-widgets-mapsearch.png") 27px 21px no-repeat, linear-gradient(to bottom, #36596b, #2f5163);
  padding-left: 70px;
}

.back{
  padding: 10px;
  color: #044d71;
  font-size: 12px;
  text-shadow: 0 1px 1px #fff;
  @include gradient(#f6f6f6, #d1d1d1);
  border-radius: 4px;
  border: 0;
  float: right;
  line-height: 12px;
  margin-top: 20px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5), inset 0 -1px 2px 0 rgba(0,0,0,0.3);
  &:hover{
    @include gradient(#ffffff, #ebebeb);
    text-decoration: none;
  }
  &:active{
    @include gradient(#d9d9d9, #fefefe);
  }
}

.edit_widget{
  width: 960px;
  overflow-x: hidden;
  background: #fff;
  display: inline-block;
  input[type="text"], textarea{
    border-radius: 2px;
    border: 1px solid #646464;
    @include gradient(#fafafa, #ffffff);
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.3), 0 1px 1px 0 rgba(0,0,0,.1);
    height: 30px;
    padding: 0 8px;
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0 20px;
    width: 180px;
  }
  h1{
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    height: 45px;
    line-height: 45px;
    @include gradient(#36596b, #2f5163);
    padding: 0 12px;
    span{
      font-style: italic;
    }
  }
  .sidebar{
    float: left;
    width: 920px;
    padding: 20px 15px;
    .widget_map_search{
      div{
        float: left;
        margin-right: 10px;
        width: 210px;
        &#widget_map_search_api_params_input{
          display: none;
        }
      }
    }
    #widget_map_search_api_params{
      max-width: 245px;
      width: 245px;
    }
    label{
      font-weight: 700;
      font-size: 14px;
      display: block;
    }
    input[type="submit"]{
      float: right;
      padding: 7px 15px;
      margin: 0;
      &.use-widget{
        margin-top: 25px;
      }
    }
  }
  .content{
    padding: 20px;
    .preview {
      margin: 20px 0;
    }
    h2{
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 20px;
    }
    .help-inline, .block{
      font-size: 12px;
      color: #505057;
      background: #F1F3F5 asset-data-url("icon-hint.png") 9px 50% no-repeat;
      padding: 6px 30px;
      line-height: 16px;
      margin-top: 10px;
      display: block;
    }
    textarea{
      padding: 12px;
      width: 894px;
      max-width: 894px;
      height: 50px;
      max-height: 500px;
      font-weight: normal;
      font-family: 'Courier New', monospace;
      font-size: 14px;
    }
  }
}

.add_alert.edit_widget, .add_relic.edit_widget{
  background: asset-data-url("widget-alert-bg.png") repeat-y;
  h1{
    line-height: 75px;
    height: 75px;
    font-size: 28px;
    background: asset-data-url("icon-widgets-mapsearch.png") 27px 21px no-repeat, linear-gradient(to bottom, #36596b, #2f5163);
    padding-left: 70px;
  }
  .sidebar{
    width: 495px;
  }
  .content{
    margin-left: 525px;
    textarea{
      width: 362px;
      max-width: 362px;
      height: 60px;
    }
  }
}

.add_alert.edit_widget{
  .widget_add_alert{
    #widget_add_alert_q_input{
      float: left;
      width: 410px;
      .input{
        span.block{
          font-weight: 700;
        }
        #widget_add_alert_q{
          width: 390px;
        }
      }
    }
    h3{
      font-weight: 700;
      margin: 5px 0;
    }
    .relics-wrapper{
      margin-bottom: 30px;
      ul.relics{
        padding: 4px;
        background: #e5e5e5;
        border-radius: 2px;
        max-height: 170px;
        overflow-x: scroll;
        border: 1px solid #b9b9b9;
        li{
          padding: 3px 3px 3px 12px;
          line-height: 24px;
          font-size: 13px;
          font-weight: 600;
          strong{
            text-align: left;
            display: block;
            margin-right: 90px;
          }
          &:nth-of-type(odd){
            background: #fff;
          }
          &:nth-of-type(even){
            background: #f5f5f5;
          }
          a{
            @include gradient(#4b6d7e, #436576);
            color: #fff;
            border: 0;
            font-size: 12px;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
            -webkit-border-radius: 2px;
            border-radius: 2px;
            padding: 0 10px;
            cursor: pointer;
            float: right;
            font-weight: 600;
            &:hover {
              @include gradient(#437994, #2b607b);
              text-decoration: none;
              color: #fff;
            }
            &:active {
              @include gradient(#2b607b, #437893);
            }
          }
        }
      }
    }
  }
}

.add_relic.edit_widget{
  background: #fff;
  .content{
    margin-left: 0;
    textarea{
      width: 894px;
      max-width: 894px;
    }
  }
  h1{
    background: asset-data-url("icon-widgets-addalert.png") 27px 21px no-repeat, linear-gradient(to bottom, #36596b, #2f5163);
  }
}

.map_search.edit_widget{
  .sidebar{
    width: 890px;
  }
}
