@import "mixins";
@import "wizard/*";

%wizard-button-general {
  padding: 8px 20px;
  margin-right: 25px;
  border-radius: 2px;
  @include gradient(rgb(120, 145, 159), rgb(95, 121, 135));
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(#000, 0.5);
  box-shadow: 0 2px 3px 0 rgba(#000, 0.2), inset 0 -1px 2px 0 rgba(#000, 0.3);
}

%wizard-button-hover {
  @include gradient(rgb(67, 125, 155), rgb(37, 94, 124));
}

%wizard-button-pushed {
  @include gradient(rgb(28, 45, 54), rgb(78, 95, 104));
  opacity: 0.5;
  font-weight: 700;
  cursor: default !important;
}

%wizard-button-active {
  @include gradient(rgb(36, 94, 124), rgb(67, 125, 154));
}

%wizard-button-blurred {
  opacity: 0.3;
  cursor: default !important;
}

body.relics.edit, body.relics.new {
  .overlay {
    opacity: 0.5;
    background-color: white;
    z-index: 10000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
  }

  &.loaded .overlay {
    display: none !important;
  }

  .steps {
    background: #e8eef1;
    .actions *, .help-content, h1, h2, h3, h4, .column * {
      -webkit-touch-callout: none;
      user-select: none;
    }
  }

  .steps, .values, .actions, .step {
    position: relative;
  }

  .subrelics {
    clear: both;
  }

  .subrelics {
    > h3 {
      font-size: 20px;
      color: #5f6062;
      padding: 30px 30px 30px 60px;
      background: #fff asset-data-url('subrelics.png') 30px 31px no-repeat;
      margin-bottom: 1px;
    }
  }
}
