@import "wizard/*";

body.relics.edit, body.relics.new {

  .overlay {
    opacity: 0.5;
    background-color: white;
    z-index: 10000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
  }

  &.loaded .overlay {
    display: none !important;
  }

  .steps {
    background: #e8eef1;
    .actions *, .help-content, h1, h2, h3, h4, .column * {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  .steps, .values, .actions, .step {
    position: relative;
  }

  .subrelics {
    clear: both;
  }

  .subrelics {
    > h3 {
      font-size: 20px;
      color: #5f6062;
      padding: 30px 30px 30px 60px;
      background: #fff asset-data-url('subrelics.png') 30px 31px no-repeat;
      margin-bottom: 1px;
    }
  }

}
