%html{lang: I18n.locale}
  %head
    %meta(charset="utf-8")
    %title= content_for?(:title) ? yield(:title) : "Otwarte Zabytki"
    - unless iframe_transport?
      / Prevent showing bare page on history back
      :javascript
        window.onload = function() {
          window.location.reload()
        }
  %body
    .container.main-container{ :'data-replace' => '.main-container' }
      - unless response.headers['x-fancybox'] == 'true'
        = render 'shared/flash', :flash => flash
      .row
        = yield
    != include_gon(:camel_case => true)
