%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title= content_for?(:title) ? yield(:title) : "Otwarte Zabytki"
  %body
    .container{ :'data-replace' => 'section#main .container' }
      = yield